{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/waterdrop-official-eu.myshopify.com/products/edit-field/44088
{% endcomment %}
{% if product.metafields.custom_fields["secondary_info"] != blank %}
  <div class="custom-field custom-field__secondary-info custom-field__type--text">
    <h3 class="custom-field--title">Secondary Info</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["secondary_info"] }}
    </div>
  </div>
{% endif %}