{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.shop.product_info' %}
  {% include 'custom_fields.shop.secondary_info' %}
  {% include 'custom_fields.shop.product_subtitle' %}
</div>