{% section 'product-template' %}
<!-- PageFly HTML -->
<link rel="stylesheet" href="{{ 'reset.css' | asset_url }}" /><link rel="stylesheet" href="{{ 'main.css' | asset_url }}" /><style type="text/css">._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._ERbj1g7D { position: relative; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._VWvqNvR9 { vertical-align: middle; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._NYd6gvae { position: relative; } ._O689JW7n { position: relative; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; background: none !important; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-size: cover !important; background-repeat: no-repeat; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM[data-container] ._DblQBlAM__container { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; } ._DblQBlAM .pf-parallax__img { position: absolute; object-fit: cover; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; } ._GwlbZrJE { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._GwlbZrJE--diamond, ._GwlbZrJE--circle, ._GwlbZrJE--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._GwlbZrJE--circle { border-radius: 100%; } ._GwlbZrJE--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._GwlbZrJE--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk > span { font-weight: inherit; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--none i, ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._WDJGyJgk { position: relative; } ._lY5epAaJ { position: relative; } ._lY5epAaJ__button { background-color: #eee; cursor: pointer; padding: 10px 15px; // width: 100%; text-align: left; outline: none; transition: 0.4s; -webkit-transition: 0.4s; display: block; position: relative; } ._lY5epAaJ .accordion__header + div { padding: 1.5rem 0; } ._lY5epAaJ__button > i { margin-right: 5px; } ._lY5epAaJ__button.arrow--right .accordion__arrow { position: absolute; right: 10px; } ._lY5epAaJ .accordion__arrow { transition: .2s all; -webkit-transition: .2s all; } ._lY5epAaJ[data-active="true"] > a > .accordion__arrow { -webkit-transform: rotate(90deg); transform: rotate(90deg); } 
						    @media all { .__pf ._bkv6h5y0[data-id="_bkv6h5y0"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-top: 225px; padding-left: 75px; padding-right: 50px; } .__pf ._a9yOs5mP[data-id="_a9yOs5mP"] { text-align: center; } .__pf ._Aa4OUyw6[data-id="_Aa4OUyw6"] { text-align: center; } .__pf ._yWqPU5rp[data-id="_yWqPU5rp"] { margin-top: 50px; } .__pf ._YLwlh9WG[data-id="_YLwlh9WG"] { margin-top: 100px; border-style: solid; border-width: 1px 0px 0px; border-color: rgb(242, 242, 242); padding-bottom: 0px; } .__pf ._N9N2sBqv[data-id="_N9N2sBqv"] { text-align: center; } .__pf ._8BKKheBN[data-id="_8BKKheBN"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-top: 225px; padding-left: 75px; padding-right: 50px; } .__pf ._jaYpU1ZJ[data-id="_jaYpU1ZJ"] { text-align: center; } .__pf ._9Y67UpWe[data-id="_9Y67UpWe"] { margin-top: 50px; } .__pf ._JrqGhxL6[data-id="_JrqGhxL6"] { padding-top: 0px; padding-bottom: 0px; } .__pf ._wa5gh_xa[data-id="_wa5gh_xa"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-top: 225px; padding-left: 75px; padding-right: 50px; } .__pf ._nzAyUYaq[data-id="_nzAyUYaq"] { text-align: center; font-size: 12px; } .__pf ._bW3_s59n[data-id="_bW3_s59n"] { text-align: center; } .__pf ._6WaZUZmw[data-id="_6WaZUZmw"] { margin-top: 50px; } .__pf ._mWzVhd1p[data-id="_mWzVhd1p"] { padding-top: 0px; padding-bottom: 0px; } .__pf ._YKDNhBqK[data-id="_YKDNhBqK"] { width: 300px; } .__pf ._0oB2U61a[data-id="_0oB2U61a"] { text-align: center; } .__pf ._lrxJh59P[data-id="_lrxJh59P"] { margin-top: 100px; } .__pf ._Kk2DhmzO[data-id="_Kk2DhmzO"] { font-size: 20px; line-height: 30px; letter-spacing: 0px; color: rgb(255, 208, 0); text-align: left; margin-bottom: 0px; } .__pf .__yOVhrgz[data-id="__yOVhrgz"] { font-size: 10px; line-height: 20px; letter-spacing: 0px; color: rgb(229, 192, 32); text-align: left; } .__pf ._bzgPh6ok[data-id="_bzgPh6ok"] { font-size: 13px; line-height: 20px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._6B3VhvAB[data-id="_6B3VhvAB"] { font-size: 20px; line-height: 30px; letter-spacing: 0px; color: rgb(150, 5, 56); text-align: left; margin-bottom: 0px; } .__pf ._MzrrhK8z[data-id="_MzrrhK8z"] { font-size: 10px; line-height: 20px; letter-spacing: 0px; color: rgb(150, 5, 56); text-align: left; } .__pf ._pkDvhQqk[data-id="_pkDvhQqk"] { font-size: 13px; line-height: 20px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._pyNJhALB[data-id="_pyNJhALB"] { font-size: 20px; line-height: 30px; letter-spacing: 0px; color: rgb(133, 184, 139); text-align: left; margin-bottom: 0px; } .__pf ._lBqVhYKk[data-id="_lBqVhYKk"] { font-size: 10px; line-height: 20px; letter-spacing: 0px; color: rgb(133, 184, 139); text-align: left; } .__pf ._RaVwhPoB[data-id="_RaVwhPoB"] { font-size: 13px; line-height: 20px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._lzqVh1Zy[data-id="_lzqVh1Zy"] { font-size: 20px; line-height: 30px; letter-spacing: 0px; color: rgb(255, 208, 0); text-align: left; margin-bottom: 0px; } .__pf ._Vz4Phw8y[data-id="_Vz4Phw8y"] { font-size: 10px; line-height: 20px; letter-spacing: 0px; color: rgb(229, 192, 32); text-align: left; } .__pf ._bkv6hKoy[data-id="_bkv6hKoy"] { font-size: 13px; line-height: 20px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._wBbmhJqz[data-id="_wBbmhJqz"] { font-size: 20px; line-height: 30px; letter-spacing: 0px; color: rgb(242, 143, 34); text-align: left; margin-bottom: 0px; } .__pf ._lyjZhrwk[data-id="_lyjZhrwk"] { font-size: 10px; line-height: 20px; letter-spacing: 0px; color: rgb(242, 143, 34); text-align: left; } .__pf ._AkmghXWa[data-id="_AkmghXWa"] { font-size: 13px; line-height: 20px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._pz_vhNny[data-id="_pz_vhNny"] { font-size: 20px; line-height: 30px; letter-spacing: 0px; color: rgb(63, 24, 95); text-align: left; margin-bottom: 0px; } .__pf ._VzwWh86y[data-id="_VzwWh86y"] { font-size: 10px; line-height: 20px; letter-spacing: 0px; color: rgb(63, 24, 95); text-align: left; } .__pf ._Zz7qh5ny[data-id="_Zz7qh5ny"] { font-size: 13px; line-height: 20px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._4mJ1s83m[data-id="_4mJ1s83m"] { text-align: center; } .__pf ._bBgPhQoa[data-id="_bBgPhQoa"] { font-size: 30px; line-height: 30px; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; padding-top: 225px; padding-left: 75px; padding-right: 50px; } .__pf ._6y3VhoAy[data-id="_6y3VhoAy"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-left: 75px; padding-right: 50px; } .__pf ._Ga9rURWw[data-id="_Ga9rURWw"] { text-align: center; } .__pf ._yDwXUwwW[data-id="_yDwXUwwW"] { margin-top: 50px; } .__pf ._EPn6hwRL[data-id="_EPn6hwRL"] { padding-top: 0px; padding-bottom: 0px; } .__pf ._KEKDtRY0[data-id="_KEKDtRY0"] { text-align: center; font-size: 40px; color: rgb(0, 61, 71); letter-spacing: -1px; margin-top: 80px; margin-bottom: 50px; } .__pf ._q1ZZhO91[data-id="_q1ZZhO91"] { border-style: solid; border-width: 1px 0px 0px; border-color: rgb(224, 224, 224); margin-top: 100px; } .__pf ._BgnltnEa[data-id="_BgnltnEa"] { padding: 20px; } .__pf ._K1JztAxW[data-id="_K1JztAxW"] { padding: 20px; } .__pf ._barBt8Dg[data-id="_barBt8Dg"] { padding: 20px; } .__pf ._V1_ptjna[data-id="_V1_ptjna"] { padding: 20px; } .__pf .__gRmtBX6[data-id="__gRmtBX6"] { padding: 20px; } .__pf ._Ja0YtxpW[data-id="_Ja0YtxpW"] { padding: 20px; } .__pf ._a7XNIY_7[data-id="_a7XNIY_7"] > div > .accordion__header { background-color: white; color: black; font-weight: 700; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(235, 235, 235); padding: 15px; font-size: 16px; } .__pf ._a7XNIY_7[data-id="_a7XNIY_7"] { background-color: rgb(245, 245, 245); border-style: solid; border-width: 1px; border-color: rgb(235, 235, 235); } .__pf ._gW5yU7dm[data-id="_gW5yU7dm"] { padding-bottom: 50px; } .__pf ._517EtDlg[data-id="_517EtDlg"] { padding: 20px; } .__pf ._5W3MtjQg[data-id="_5W3MtjQg"] { padding: 20px; } .__pf ._E1GJtE4W[data-id="_E1GJtE4W"] { padding: 20px; } .__pf ._G62Jtd21[data-id="_G62Jtd21"] { padding: 20px; } .__pf ._A6qntnwW[data-id="_A6qntnwW"] { padding: 20px; } .__pf ._41dKtwe1[data-id="_41dKtwe1"] { padding: 20px; } .__pf ._9x3PIrwK[data-id="_9x3PIrwK"] > div > .accordion__header { background-color: white; color: black; font-weight: 700; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(235, 235, 235); padding: 15px; font-size: 16px; } .__pf ._9x3PIrwK[data-id="_9x3PIrwK"] { background-color: rgb(245, 245, 245); border-style: solid; border-width: 1px; border-color: rgb(235, 235, 235); } .__pf ._9rExUL_m[data-id="_9rExUL_m"] { padding-bottom: 50px; } .__pf ._DZR1tX0W[data-id="_DZR1tX0W"] { text-align: center; letter-spacing: 3px; color: rgb(0, 61, 71); font-size: 14px; font-weight: 400; } .__pf ._lzqVhKy2[data-id="_lzqVhKy2"] { margin-top: 10px; font-size: 14px; letter-spacing: -1px; color: rgb(87, 87, 86); line-height: 20px; } .__pf ._Jwr6UqwN[data-id="_Jwr6UqwN"] { text-align: center; } .__pf ._ja84hrkY[data-id="_ja84hrkY"] { margin-top: 10px; font-size: 14px; letter-spacing: -1px; color: rgb(87, 87, 86); line-height: 20px; } .__pf ._BweAU3oj[data-id="_BweAU3oj"] { text-align: center; } .__pf ._vBevh6aX[data-id="_vBevh6aX"] { margin-top: 10px; font-size: 14px; letter-spacing: -1px; color: rgb(87, 87, 86); line-height: 20px; } .__pf ._bZ69U_on[data-id="_bZ69U_on"] { text-align: center; } .__pf ._9mExUyYo[data-id="_9mExUyYo"] { margin-bottom: 0px; } .__pf ._RrRohaPy[data-id="_RrRohaPy"] { border-style: solid; border-width: 1px 0px 0px; border-color: rgb(230, 230, 230); margin-top: 100px; } } @media only screen and (max-width: 767px) { .__pf ._bkv6h5y0[data-id="_bkv6h5y0"] { font-size: 14px; line-height: 20px; padding-top: 55px; padding-left: 25px; padding-right: 25px; } .__pf ._yWqPU5rp[data-id="_yWqPU5rp"] { margin-top: 0px; } .__pf ._8BKKheBN[data-id="_8BKKheBN"] { font-size: 14px; line-height: 20px; padding-top: 25px; padding-left: 25px; padding-right: 25px; } .__pf ._9Y67UpWe[data-id="_9Y67UpWe"] { margin-top: 0px; } .__pf ._wa5gh_xa[data-id="_wa5gh_xa"] { font-size: 14px; line-height: 20px; padding-top: 25px; padding-left: 25px; padding-right: 25px; } .__pf ._6WaZUZmw[data-id="_6WaZUZmw"] { margin-top: 0px; } .__pf ._Kk2DhmzO[data-id="_Kk2DhmzO"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf .__yOVhrgz[data-id="__yOVhrgz"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._bzgPh6ok[data-id="_bzgPh6ok"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._6B3VhvAB[data-id="_6B3VhvAB"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; margin-top: 25px; } .__pf ._MzrrhK8z[data-id="_MzrrhK8z"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._pkDvhQqk[data-id="_pkDvhQqk"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._pyNJhALB[data-id="_pyNJhALB"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; padding-top: 25px; } .__pf ._lBqVhYKk[data-id="_lBqVhYKk"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._RaVwhPoB[data-id="_RaVwhPoB"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._lzqVh1Zy[data-id="_lzqVh1Zy"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._Vz4Phw8y[data-id="_Vz4Phw8y"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._bkv6hKoy[data-id="_bkv6hKoy"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._wBbmhJqz[data-id="_wBbmhJqz"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; margin-top: 25px; } .__pf ._lyjZhrwk[data-id="_lyjZhrwk"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._AkmghXWa[data-id="_AkmghXWa"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._pz_vhNny[data-id="_pz_vhNny"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; padding-top: 25px; } .__pf ._VzwWh86y[data-id="_VzwWh86y"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._Zz7qh5ny[data-id="_Zz7qh5ny"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._bBgPhQoa[data-id="_bBgPhQoa"] { font-size: 14px; line-height: 20px; padding-top: 25px; padding-left: 25px; padding-right: 25px; } .__pf ._6y3VhoAy[data-id="_6y3VhoAy"] { font-size: 14px; line-height: 20px; padding-top: 0px; padding-left: 25px; padding-right: 25px; } .__pf ._yDwXUwwW[data-id="_yDwXUwwW"] { margin-top: 0px; } .__pf ._gW5yU7dm[data-id="_gW5yU7dm"] { padding-bottom: 0px; } .__pf ._9x3PIrwK[data-id="_9x3PIrwK"] { height: 100%; } .__pf ._DZR1tX0W[data-id="_DZR1tX0W"] { font-size: 14px; line-height: 20px; font-weight: 400; } .__pf ._9mExUyYo[data-id="_9mExUyYo"] { margin-bottom: 20px; } .__pf ._RrRohaPy[data-id="_RrRohaPy"] { padding-left: 15px; padding-right: 15px; margin-top: 50px; } } @media only screen and (min-width: 768px) and (max-width: 991px) { .__pf ._bkv6h5y0[data-id="_bkv6h5y0"] { padding-top: 25px; } .__pf ._8BKKheBN[data-id="_8BKKheBN"] { padding-top: 50px; } .__pf ._wa5gh_xa[data-id="_wa5gh_xa"] { padding-top: 100px; } .__pf ._bBgPhQoa[data-id="_bBgPhQoa"] { padding-top: 50px; } } @media only screen and (min-width: 992px) and (max-width: 1199px) { } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="250" data-pf-initial-ver="250"><section data-container="true" class="_DblQBlAM _YLwlh9WG _lrxJh59P" data-id="_YLwlh9WG" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _yWqPU5rp pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_yWqPU5rp"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _xwvjUKaD" data-id="_xwvjUKaD"><div class="_NYd6gvae _a9yOs5mP" data-id="_a9yOs5mP"><picture class="_epNwrNGv _Q24Whk2w pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_Q24Whk2w" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Keyvisual.jpg?17037396675301805403"></picture><p class="_7XqAY8_A _bkv6h5y0" data-id="_bkv6h5y0"><span hidden="" class="_VWvqNvR9 _6NvghrNk _dropcap _2dknaNM0" data-id="_6NvghrNk"></span><span class="_VWvqNvR9 _6NvghrNk _text _ZGwmb_O6" data-id="_6NvghrNk"><span style="font-weight: bold;">Trinkst du zu wenig Wasser?</span> Es ist unser Lebenselixier. Wir brauchen es wie die Luft zum Atmen und trotzdem fällt es vielen Menschen schwer, mehr davon zu trinken. Unser zuckerfreier Microdrink schmeckt fantastisch, reichert dein Wasser mit Frucht- und Pflanzenextrakten sowie wertvollen Vitaminen an und hilft dir somit, mehr Wasser zu trinken.</span></p></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Aa4OUyw6" data-id="_Aa4OUyw6"><picture class="_epNwrNGv _ZKAahW5l pb-mobile--hidden" data-id="_ZKAahW5l" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Keyvisual.jpg?17037396675301805403"></picture></div></div></div></div></section><section data-container="true" class="_DblQBlAM _JrqGhxL6" data-id="_JrqGhxL6" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _9Y67UpWe pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_9Y67UpWe"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _1ZLJUDov" data-id="_1ZLJUDov"><div class="_NYd6gvae _N9N2sBqv" data-id="_N9N2sBqv"><picture class="_epNwrNGv _GXQbhmeO pb-large--hidden" data-id="_GXQbhmeO" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Glas-Youth-Min.jpg?16625586811976885636"></picture><picture class="_epNwrNGv _gKmJhJKB pb-desk--hidden pb-tablet--hidden pb-mobile--hidden" data-id="_gKmJhJKB" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Defence-Drop.jpg?13272017574914156249"></picture></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _jaYpU1ZJ" data-id="_jaYpU1ZJ"><p class="_7XqAY8_A _8BKKheBN" data-id="_8BKKheBN"><span hidden="" class="_VWvqNvR9 _0qKahgem _dropcap _2dknaNM0" data-id="_0qKahgem"></span><span class="_VWvqNvR9 _0qKahgem _text _ZGwmb_O6" data-id="_0qKahgem">Wähle deinen waterdrop™ aus und drop ihn je nach gewünschter Intensität in 400-600 ml Wasser. Der Drop löst sich in kurzer Zeit vollständig auf und du kannst <span style="font-weight: bold;">den fantastischen Geschmack</span> deiner gewählten Sorte genießen - jederzeit und überall.</span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _mWzVhd1p" data-id="_mWzVhd1p" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _6WaZUZmw pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_6WaZUZmw"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _nzAyUYaq" data-id="_nzAyUYaq"><p class="_7XqAY8_A _wa5gh_xa" data-id="_wa5gh_xa"><span hidden="" class="_VWvqNvR9 _6qyXhOve _dropcap _2dknaNM0" data-id="_6qyXhOve"></span><span class="_VWvqNvR9 _6qyXhOve _text _ZGwmb_O6" data-id="_6qyXhOve">Unsere Community wächst täglich. Wir haben weltweit<span style="font-weight: bold;"> mehr als 40,000 zufriedene Kunden</span> die waterdrop™ lieben und nun mehr von dem Trinken was gut für sie ist.</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _xa7BUbop" data-id="_xa7BUbop"><div class="_NYd6gvae _bW3_s59n" data-id="_bW3_s59n"><picture class="_epNwrNGv _VexnhmeJ pb-large--hidden" data-id="_VexnhmeJ" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Social-Grid.jpg?12017777429623301840"></picture><picture class="_epNwrNGv _l50_h32a pb-desk--hidden pb-tablet--hidden pb-mobile--hidden" data-id="_l50_h32a" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Social-Grid.jpg?12017777429623301840"></picture></div></div></div></div></div></section><section data-container="true" class="_DblQBlAM _lrxJh59P" data-id="_lrxJh59P" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _zYGwUg_r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_zYGwUg_r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _0oB2U61a" data-id="_0oB2U61a"><picture class="_epNwrNGv _YKDNhBqK" data-id="_YKDNhBqK" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/HeroShot_6_Glaaser_Option2_6a397a3b-7077-4a20-ad4e-a9ea0172df8c.png?18388303728814637742"></picture></div></div></div></div></section><section data-container="true" class="_DblQBlAM _8WE_hnLY" data-id="_8WE_hnLY" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _VrVaUZjm pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VrVaUZjm"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Qw1YUvvw" data-id="_Qw1YUvvw"><p class="_7XqAY8_A _Kk2DhmzO" data-id="_Kk2DhmzO"><span hidden="" class="_VWvqNvR9 _GN2lhZn5 _dropcap _2dknaNM0" data-id="_GN2lhZn5"></span><span class="_VWvqNvR9 _GN2lhZn5 _text _ZGwmb_O6" data-id="_GN2lhZn5">GLOW</span></p><p class="_7XqAY8_A __yOVhrgz" data-id="__yOVhrgz"><span hidden="" class="_VWvqNvR9 _zn8QhrZn _dropcap _2dknaNM0" data-id="_zn8QhrZn"></span><span class="_VWvqNvR9 _zn8QhrZn _text _ZGwmb_O6" data-id="_zn8QhrZn">Mango / Kaktusfrucht / Artischoke</span></p><p class="_7XqAY8_A _bzgPh6ok" data-id="_bzgPh6ok"><span hidden="" class="_VWvqNvR9 _JeJXhg6n _dropcap _2dknaNM0" data-id="_JeJXhg6n"></span><span class="_VWvqNvR9 _JeJXhg6n _text _ZGwmb_O6" data-id="_JeJXhg6n">Sommerlicher GLOW mit tropischer Kaktusfeige, Artischocke und fruchtiger Mango. <b>Hol dir dein Strahlen</b> für Tage, die nach Sommer riechen.</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ewXDUvew" data-id="_ewXDUvew"><p class="_7XqAY8_A _6B3VhvAB" data-id="_6B3VhvAB"><span hidden="" class="_VWvqNvR9 _Qn97h6oV _dropcap _2dknaNM0" data-id="_Qn97h6oV"></span><span class="_VWvqNvR9 _Qn97h6oV _text _ZGwmb_O6" data-id="_Qn97h6oV">RELAX</span></p><p class="_7XqAY8_A _MzrrhK8z" data-id="_MzrrhK8z"><span hidden="" class="_VWvqNvR9 _9VaKhJQe _dropcap _2dknaNM0" data-id="_9VaKhJQe"></span><span class="_VWvqNvR9 _9VaKhJQe _text _ZGwmb_O6" data-id="_9VaKhJQe">Hibiskus / Acerola / Aronia&nbsp; &nbsp;<br></span></p><p class="_7XqAY8_A _pkDvhQqk" data-id="_pkDvhQqk"><span hidden="" class="_VWvqNvR9 _anjOhJAV _dropcap _2dknaNM0" data-id="_anjOhJAV"></span><span class="_VWvqNvR9 _anjOhJAV _text _ZGwmb_O6" data-id="_anjOhJAV">Mit der botanischen Mischung aus Hibiskus, Acerola und Aronia findest du schnell deine innere Mitte. RELAX, für <b>Momente voller Leichtigkeit und Entspannung.</b>&nbsp;</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _7zOqUO1Z" data-id="_7zOqUO1Z"><p class="_7XqAY8_A _pyNJhALB" data-id="_pyNJhALB"><span hidden="" class="_VWvqNvR9 _9eG9hX0N _dropcap _2dknaNM0" data-id="_9eG9hX0N"></span><span class="_VWvqNvR9 _9eG9hX0N _text _ZGwmb_O6" data-id="_9eG9hX0N">FOCUS</span></p><p class="_7XqAY8_A _lBqVhYKk" data-id="_lBqVhYKk"><span hidden="" class="_VWvqNvR9 _lN3Phj7e _dropcap _2dknaNM0" data-id="_lN3Phj7e"></span><span class="_VWvqNvR9 _lN3Phj7e _text _ZGwmb_O6" data-id="_lN3Phj7e">Limette / Baobab / Acerola<br></span></p><p class="_7XqAY8_A _RaVwhPoB" data-id="_RaVwhPoB"><span hidden="" class="_VWvqNvR9 _aeBphDBN _dropcap _2dknaNM0" data-id="_aeBphDBN"></span><span class="_VWvqNvR9 _aeBphDBN _text _ZGwmb_O6" data-id="_aeBphDBN">Hol dir die einzigartige Komposition aus Baobab und Acerola – mit erfrischend natürlichem Limetten-Geschmack. <b>FOCUS, wenn's wirklich wichtig ist.&nbsp;</b></span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _JPqGh3xW" data-id="_JPqGh3xW" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _0mjxUJOr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_0mjxUJOr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _3z_WU8Go" data-id="_3z_WU8Go"><p class="_7XqAY8_A _lzqVh1Zy" data-id="_lzqVh1Zy"><span hidden="" class="_VWvqNvR9 _lV3Ph3AN _dropcap _2dknaNM0" data-id="_lV3Ph3AN"></span><span class="_VWvqNvR9 _lV3Ph3AN _text _ZGwmb_O6" data-id="_lV3Ph3AN">DEFENCE</span></p><p class="_7XqAY8_A _Vz4Phw8y" data-id="_Vz4Phw8y"><span hidden="" class="_VWvqNvR9 _ENEXh9De _dropcap _2dknaNM0" data-id="_ENEXh9De"></span><span class="_VWvqNvR9 _ENEXh9De _text _ZGwmb_O6" data-id="_ENEXh9De">Cranberry / Hagebutte / Moringa</span></p><p class="_7XqAY8_A _bkv6hKoy" data-id="_bkv6hKoy"><span hidden="" class="_VWvqNvR9 _6Nvghy3N _dropcap _2dknaNM0" data-id="_6Nvghy3N"></span><span class="_VWvqNvR9 _6Nvghy3N _text _ZGwmb_O6" data-id="_6Nvghy3N">Die einzigartige Kombination von Moringa- und Hagebutten-Extrakt überrascht mit fruchtigem Cranberry-Geschmack. <b>DEFENCE, für einen starken Tag.&nbsp;</b></span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _YaWOUnXw" data-id="_YaWOUnXw"><p class="_7XqAY8_A _wBbmhJqz" data-id="_wBbmhJqz"><span hidden="" class="_VWvqNvR9 _En6PhEGe _dropcap _2dknaNM0" data-id="_En6PhEGe"></span><span class="_VWvqNvR9 _En6PhEGe _text _ZGwmb_O6" data-id="_En6PhEGe">YOUTH</span></p><p class="_7XqAY8_A _lyjZhrwk" data-id="_lyjZhrwk"><span hidden="" class="_VWvqNvR9 _LNAGhLDV _dropcap _2dknaNM0" data-id="_LNAGhLDV"></span><span class="_VWvqNvR9 _LNAGhLDV _text _ZGwmb_O6" data-id="_LNAGhLDV">Pfirsich / Ingwer / Ginseng&nbsp; &nbsp;<br></span></p><p class="_7XqAY8_A _AkmghXWa" data-id="_AkmghXWa"><span hidden="" class="_VWvqNvR9 _aVZ5hKve _dropcap _2dknaNM0" data-id="_aVZ5hKve"></span><span class="_VWvqNvR9 _aVZ5hKve _text _ZGwmb_O6" data-id="_aVZ5hKve">Erlebe das Zusammenspiel aus Ginseng- und Löwenzahn, abgerundet durch den feinen Geschmack von Pfirsich und Ingwer. <b>Mit YOUTH einfach drauflos strahlen.</b></span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _PwnnUrOw" data-id="_PwnnUrOw"><p class="_7XqAY8_A _pz_vhNny" data-id="_pz_vhNny"><span hidden="" class="_VWvqNvR9 _6NRGhjRe _dropcap _2dknaNM0" data-id="_6NRGhjRe"></span><span class="_VWvqNvR9 _6NRGhjRe _text _ZGwmb_O6" data-id="_6NRGhjRe">BOOST</span></p><p class="_7XqAY8_A _VzwWh86y" data-id="_VzwWh86y"><span hidden="" class="_VWvqNvR9 _9V47h8ye _dropcap _2dknaNM0" data-id="_9V47h8ye"></span><span class="_VWvqNvR9 _9V47h8ye _text _ZGwmb_O6" data-id="_9V47h8ye">Schwarze Johannisbeere / Holunderblüte / Açaí&nbsp; &nbsp;<br></span></p><p class="_7XqAY8_A _Zz7qh5ny" data-id="_Zz7qh5ny"><span hidden="" class="_VWvqNvR9 _pVDKh7En _dropcap _2dknaNM0" data-id="_pVDKh7En"></span><span class="_VWvqNvR9 _pVDKh7En _text _ZGwmb_O6" data-id="_pVDKh7En"><b>Wenn du ein bisschen mehr leisten musst</b>: Hol dir die Powerbeere Açaí, gepaart mit dem erlesenen Geschmack von schwarzer Johannisbeere und Holunderblüte.</span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _EPn6hwRL" data-id="_EPn6hwRL" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _yDwXUwwW pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_yDwXUwwW"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _7ZOqUn1w" data-id="_7ZOqUn1w"><div class="_NYd6gvae _4mJ1s83m" data-id="_4mJ1s83m"><picture class="_epNwrNGv _BX67hJG5 pb-large--hidden" data-id="_BX67hJG5" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Box-Set-Defence-White.jpg?11866129447434690677"></picture><picture class="_epNwrNGv _N2y1hQd5 pb-desk--hidden pb-tablet--hidden pb-mobile--hidden" data-id="_N2y1hQd5" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Box-Set-Defence-White.jpg?11866129447434690677"></picture></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Ga9rURWw" data-id="_Ga9rURWw"><p class="_7XqAY8_A _bBgPhQoa" data-id="_bBgPhQoa"><span hidden="" class="_VWvqNvR9 _JnJXhD6q _dropcap _2dknaNM0" data-id="_JnJXhD6q"></span><span class="_VWvqNvR9 _JnJXhD6q _text _ZGwmb_O6" data-id="_JnJXhD6q">Waterdrop™ Set&nbsp;<br>Empowerment Editions<br></span></p><p class="_7XqAY8_A _6y3VhoAy" data-id="_6y3VhoAy"><span hidden="" class="_VWvqNvR9 _Qq97hEoN _dropcap _2dknaNM0" data-id="_Qq97hEoN"></span><span class="_VWvqNvR9 _Qq97hEoN _text _ZGwmb_O6" data-id="_Qq97hEoN">Sichere dir jetzt dein waterdrop™ Set mit vier 12-Packs waterdrop™ und einer hochwertigen 0.55l Glas-Trinkflasche in einer unserer wunderschönen Empowerment Editions.</span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _q1ZZhO91" data-id="_q1ZZhO91" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 690px;"><div class="_pDNE0kYl _qm87Ua8r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_qm87Ua8r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ewXDUJ5w" data-id="_ewXDUJ5w"><h3 class="_qaQP6rvk _KEKDtRY0" data-id="_KEKDtRY0" ><span class="_VWvqNvR9 _mYk1HO2e _title _3JdPm85O" data-id="_mYk1HO2e">Noch Fragen ?</span></h3></div></div></div></div></section><section data-container="true" class="_DblQBlAM _BP70hykW" data-id="_BP70hykW" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _pY97UVBr pb-grid pb-grid--doubling pb-grid--stackable pb-grid--two-columns pb-grid--equal-height" data-id="_pY97UVBr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _4oM7UWAz" data-id="_4oM7UWAz"><div class="_pDNE0kYl _gW5yU7dm pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_gW5yU7dm"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _0wbJUR3Z" data-id="_0wbJUR3Z"><div data-multiple="false" class="_lY5epAaJ _a7XNIY_7" data-id="_a7XNIY_7"><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-134" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wie funktioniert waterdrop™?</a><div id="pb-content-134" class="_WDJGyJgk _BgnltnEa" data-id="_BgnltnEa" style="display: none;"><p class="_7XqAY8_A _8BKKh55B" data-id="_8BKKh55B"><span hidden="" class="_VWvqNvR9 _0qKah22e _dropcap _2dknaNM0" data-id="_0qKah22e"></span><span class="_VWvqNvR9 _0qKah22e _text _ZGwmb_O6" data-id="_0qKah22e">Öffne den jeweiligen waterdrop™ und „drop“ ihn einfach in ein kaltes Glas, Karaffe oder Flasche Wasser. Danach lehnst du dich entspannt ein paar Momente zurück, bis sich der Microdrink vollständig aufgelöst hat. Anschließend kannst du deinen fruchtigen Drink genießen - wann, wo und wie auch immer du willst.&nbsp;</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-136" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Mit wieviel Wasser trinke ich einen waterdrop™?</a><div id="pb-content-136" class="_WDJGyJgk _K1JztAxW" data-id="_K1JztAxW" style="display: none;"><p class="_7XqAY8_A _GkQVh0mk" data-id="_GkQVh0mk"><span hidden="" class="_VWvqNvR9 _8NQ4h6DV _dropcap _2dknaNM0" data-id="_8NQ4h6DV"></span><span class="_VWvqNvR9 _8NQ4h6DV _text _ZGwmb_O6" data-id="_8NQ4h6DV">Du entscheidest über die Wassermenge – ob im Glas oder in der großen Karaffe. Wir empfehlen dir unsere erfrischenden Microdrinks aufgelöst in ca. 400 bis 600 ml Wasser zu genießen. <br>Pure Geschmackssache. Ob still oder prickelnd bleibt ebenfalls dir überlassen. Waterdrop™ ist genauso individuell wie dein Geschmack.<br><br></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-138" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Enthalten waterdrops Zucker?</a><div id="pb-content-138" class="_WDJGyJgk _barBt8Dg" data-id="_barBt8Dg" style="display: none;"><p class="_7XqAY8_A _3kYrh_Dk" data-id="_3kYrh_Dk"><span hidden="" class="_VWvqNvR9 _9NYYhgyN _dropcap _2dknaNM0" data-id="_9NYYhgyN"></span><span class="_VWvqNvR9 _9NYYhgyN _text _ZGwmb_O6" data-id="_9NYYhgyN">Nein, unsere waterdrops sind komplett zuckerfrei. Um die enthaltenen Frucht- und Pflanzenextrakte mit einer angenehmen Süße abzurunden, findest du in jedem waterdrop™ eine kleine Menge an Sucralose. Somit ist waterdrop™ figur- und zahnfreundlich, hat maximal 4 Kcal pro waterdrop™ und ist perfekt für Diabetiker geeignet. </span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-140" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Ist waterdrop™ gesund? </a><div id="pb-content-140" class="_WDJGyJgk _V1_ptjna" data-id="_V1_ptjna" style="display: none;"><p class="_7XqAY8_A _Gy0ZhnOz" data-id="_Gy0ZhnOz"><span hidden="" class="_VWvqNvR9 _yV0LhY4e _dropcap _2dknaNM0" data-id="_yV0LhY4e"></span><span class="_VWvqNvR9 _yV0LhY4e _text _ZGwmb_O6" data-id="_yV0LhY4e">Ausreichend Wasser zu trinken hat zahlreiche gesundheitliche Vorteile und ist essentiell für unser Wohlbefinden. Mit waterdrop™ helfen wir dir, mehr davon zu trinken, indem wir großartigen Geschmack durch natürliche Frucht- und Pflanzenextrakte in dein Wasser bringen. Dabei verzichten wir ganz bewusst auf unnötige fiese chemische Inhaltsstoffe wie künstliche Farb- oder Konservierungsstoffe. Dadurch schaffen es viele unserer Kunden auf ungesunde, zuckerhaltige Getränke in Dosen oder Flaschen verzichten zu können. Zusätzlich enthält jeder waterdrop™ wertvolle Vitamine, die dir helfen deinen Tagesbedarf am jeweiligen Vitamin zu decken.</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-142" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wo werden die waterdrop™ produziert?</a><div id="pb-content-142" class="_WDJGyJgk __gRmtBX6" data-id="__gRmtBX6" style="display: none;"><p class="_7XqAY8_A _Kk2Dh20z" data-id="_Kk2Dh20z"><span hidden="" class="_VWvqNvR9 _GN2lhGDn _dropcap _2dknaNM0" data-id="_GN2lhGDn"></span><span class="_VWvqNvR9 _GN2lhGDn _text _ZGwmb_O6" data-id="_GN2lhGDn">Ja - unsere waterdrops werden unter den höchsten Qualitätsstandards in einem eigens entwickelten Verfahren in Deutschland hergestellt. Die Frucht- und Pflanzenextrakte beziehen wir von regional ausgewählten Partnern mit kontrolliertem, nachhaltigem Anbau.&nbsp;</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-144" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wie ist waterdrop™ verpackt?</a><div id="pb-content-144" class="_WDJGyJgk _Ja0YtxpW" data-id="_Ja0YtxpW" style="display: none;"><p class="_7XqAY8_A _qa9QhJez" data-id="_qa9QhJez"><span hidden="" class="_VWvqNvR9 _oNb8h2xn _dropcap _2dknaNM0" data-id="_oNb8h2xn"></span><span class="_VWvqNvR9 _oNb8h2xn _text _ZGwmb_O6" data-id="_oNb8h2xn">In unseren waterdrops befinden sich höchstsensible natürliche Frucht- und Pflanzenextrakte. Um diese optimal vor Luft und Feuchtigkeit zu schützen, werden sie in eine recyclebare PET-Hülle gekleidet, die über 2 Jahre von einem führenden Expertenteam in Deutschland entwickelt wurde. Damit sparst du im Vergleich zu herkömmlichen Getränken 97% an unnötiger Verpackung – nicht zu sprechen von den Unmengen an Transportgewicht, die wegfallen, da alles was du brauchst bereits bei dir ist: frisches Wasser. Zudem kannst du nun deinen Lieblingsdrink ganz einfach in der Hosentasche jederzeit und überall dabeihaben – vom Büro bis zum Reisen, du hast maximale Flexibilität.</span></p></div></div></div></div></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _lZN_U2ya" data-id="_lZN_U2ya"><div class="_pDNE0kYl _9rExUL_m pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_9rExUL_m"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _MaPnULJa" data-id="_MaPnULJa"><div data-multiple="false" class="_lY5epAaJ _9x3PIrwK" data-id="_9x3PIrwK"><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-155" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - BOOST</a><div id="pb-content-155" class="_WDJGyJgk _517EtDlg" data-id="_517EtDlg" style="display: none;"><p class="_7XqAY8_A _pyNJh63B" data-id="_pyNJh63B"><span hidden="" class="_VWvqNvR9 _9eG9h2dN _dropcap _2dknaNM0" data-id="_9eG9h2dN"></span><span class="_VWvqNvR9 _9eG9h2dN _text _ZGwmb_O6" data-id="_9eG9h2dN"><p>Wenn du ein bisschen mehr leisten musst: Hol dir die aus Brasilien bekannte Powerbeere Açaí, gepaart mit dem erlesenen Geschmack von schwarzer Johannisbeere und Holunderblüte.</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 Kcal /&nbsp;5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 Kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate&nbsp;</strong></td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,37 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>5,0 mg</td>
<td>6&nbsp;%</td>
<td>20,0 mg</td>
<td>25 %</td>
</tr>
<tr>
<td>Vitamin B6</td>
<td>0,16 mg</td>
<td>11 %</td>
<td>0,63 mg</td>
<td>45 %</td>
</tr>
<tr>
<td>Vitamin B12</td>
<td>0,25 µg</td>
<td>10 %</td>
<td>1 µg</td>
<td>40 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Açaí-Extrakt, natürliches Aroma, Vitamin C, färbendes Konzentrat aus Karotte, Süßungsmittel Sucralose, Vitamin B6, Vitamin B12.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-157" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - DEFENCE</a><div id="pb-content-157" class="_WDJGyJgk _5W3MtjQg" data-id="_5W3MtjQg" style="display: none;"><p class="_7XqAY8_A _VB4Phx8k" data-id="_VB4Phx8k"><span hidden="" class="_VWvqNvR9 _EeEXhZDn _dropcap _2dknaNM0" data-id="_EeEXhZDn"></span><span class="_VWvqNvR9 _EeEXhZDn _text _ZGwmb_O6" data-id="_EeEXhZDn"><p>Thai Chi oder Vitamin C? Am besten beides, um die Abwehrkräfte stark zu halten. Die einzigartige Kombination von herbem Moringa- und Hagebutten-Extrakt überrascht mit fruchtigem Cranberry-Geschmack. DEFENCE, für einen starken Tag.&nbsp;</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,11 g</td>
<td>&nbsp;</td>
<td>0,45 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>6,0 mg</td>
<td>8 %</td>
<td>24 mg</td>
<td>30 %</td>
</tr>
<tr>
<td>Riboflavin</td>
<td>0,07 mg</td>
<td>5 %</td>
<td>0,28 mg</td>
<td>20 %</td>
</tr>
<tr>
<td>Biotin</td>
<td>5,6 µg</td>
<td>11 %</td>
<td>22,5 µg</td>
<td>45 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, natürliches Aroma, Moringa-Extrakt, Hagebutten-Extrakt, färbendes Konzentrat aus Karotte, Vitamin C, Süßungsmittel Sucralose, färbendes Konzentrat aus Saflor, Riboflavin, Biotin<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-159" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - DEFENCE</a><div id="pb-content-159" class="_WDJGyJgk _E1GJtE4W" data-id="_E1GJtE4W" style="display: none;"><p class="_7XqAY8_A _jz84hx8a" data-id="_jz84hx8a"><span hidden="" class="_VWvqNvR9 _BN5ghrjN _dropcap _2dknaNM0" data-id="_BN5ghrjN"></span><span class="_VWvqNvR9 _BN5ghrjN _text _ZGwmb_O6" data-id="_BN5ghrjN"><p>Wissen, was zählt - in den starken Momenten: Hol dir die einzigartige Komposition aus Baobab und Acerola – mit erfrischend natürlichem Limetten-Geschmack. FOCUS, wenn's wirklich wichtig ist.&nbsp;</p><aside class="accordion">

<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,34 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>5,0 mg</td>
<td>6 %</td>
<td>20 mg</td>
<td>25 %</td>
</tr>
<tr>
<td>Thiamin</td>
<td>0,11 mg</td>
<td>10 %</td>
<td>0,44 mg</td>
<td>40 %</td>
</tr>
<tr>
<td>Pantothensäure</td>
<td>0,75 mg</td>
<td>13 %</td>
<td>3,0 mg</td>
<td>50 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Extrakt aus Baobab-Fruchtfleisch, natürliches Aroma, Acerola-Extrakt, Vitamin C, Süßungsmittel Sucralose, Pantothensäure, Thiamin, Farbstoff Kupferkomplexe der Chlorophylline<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-161" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - GLOW</a><div id="pb-content-161" class="_WDJGyJgk _G62Jtd21" data-id="_G62Jtd21" style="display: none;"><p class="_7XqAY8_A _lkjZh1wa" data-id="_lkjZh1wa"><span hidden="" class="_VWvqNvR9 _LeAGh8DN _dropcap _2dknaNM0" data-id="_LeAGh8DN"></span><span class="_VWvqNvR9 _LeAGh8DN _text _ZGwmb_O6" data-id="_LeAGh8DN"><p>Das Funkeln fördern? Ganz leicht: lass in eiskaltem Wasser tropische Kaktusfeige auf feinherbe Artischocke treffen. Abgerundet durch das fruchtig natürliche Aroma der Mango, holst du dir dein Strahlen für Tage, die nach Sommer riechen. GLOW – shine a light.</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 4 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,37 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>6,0 mg</td>
<td>8 %</td>
<td>24 mg</td>
<td>30 %</td>
</tr>
<tr>
<td>Thiamin</td>
<td>0,12 mg</td>
<td>11 %</td>
<td>0,50 mg</td>
<td>45 %</td>
</tr>
<tr>
<td>Vitamin E</td>
<td>0,45 mg</td>
<td>4&nbsp;%</td>
<td>1,8 mg</td>
<td>15 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Artischocken-Extrakt, natürliches Aroma, Kaktusfeigen-Extrakt, Vitamin C, Süßungsmittel Sucralose, Vitamin E, Thiamin<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-163" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - RELAX</a><div id="pb-content-163" class="_WDJGyJgk _A6qntnwW" data-id="_A6qntnwW" style="display: none;"><p class="_7XqAY8_A _gzRrh0Jk" data-id="_gzRrh0Jk"><span hidden="" class="_VWvqNvR9 _dNmmh7oN _dropcap _2dknaNM0" data-id="_dNmmh7oN"></span><span class="_VWvqNvR9 _dNmmh7oN _text _ZGwmb_O6" data-id="_dNmmh7oN"><p>Alles easy! Mit der botanischen Mischung aus Hibiskus und Acerola, verfeinert mit natürlichem Aronia-Geschmack findest du deine innere Mitte. RELAX, für Momente voller Leichtigkeit und Entspannung.&nbsp;</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 4 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 17 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,36 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>8,0 mg</td>
<td>10 %</td>
<td>32 mg</td>
<td>40 %</td>
</tr>
<tr>
<td>Thiamin</td>
<td>0,08 mg</td>
<td>5 %</td>
<td>0,33 mg</td>
<td>30 %</td>
</tr>
<tr>
<td>Biotin</td>
<td>4,4 µg</td>
<td>11 %</td>
<td>17,5 µg</td>
<td>35 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Hibiskusblüten-Extrakt, natürliches Aroma, Vitamin C, Acerola-Extrakt, Süßungsmittel Sucralose, färbendes Konzentrat aus Karotte, Thiamin, Biotin<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-165" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - YOUTH</a><div id="pb-content-165" class="_WDJGyJgk _41dKtwe1" data-id="_41dKtwe1" style="display: none;"><p class="_7XqAY8_A _VBwWhX6k" data-id="_VBwWhX6k"><span hidden="" class="_VWvqNvR9 _9N47h5yn _dropcap _2dknaNM0" data-id="_9N47h5yn"></span><span class="_VWvqNvR9 _9N47h5yn _text _ZGwmb_O6" data-id="_9N47h5yn"><p>Die Haut ist der Spiegel der Seele. Erlebe das fabelhafte Zusammenspiel aus Ginseng- und Löwenzahn-Extrakt, abgerundet durch den feinen Geschmack von Pfirsich und Ingwer. Mit YOUTH einfach drauflos strahlen.</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 19 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,35 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>7,0 mg</td>
<td>9 %</td>
<td>28 mg</td>
<td>35 %</td>
</tr>
<tr>
<td>Niacin</td>
<td>1,8 mg</td>
<td>11 %</td>
<td>7,2 mg</td>
<td>45 %</td>
</tr>
<tr>
<td>Biotin</td>
<td>4,4 µg</td>
<td>9&nbsp;%</td>
<td>17,5 µg</td>
<td>35 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, natürliches Aroma, Ginseng-Extrakt, Löwenzahn-Extrakt, Vitamin C, Süßungsmittel Sucralose, färbendes Konzentrat aus Karotte, Niacin, färbendes Konzentrat aus Saflor, Biotin<br>.</aside></span></p></div></div></div></div></div></div></div></div></div></div></section><section data-container="true" class="_DblQBlAM _RrRohaPy pb-tablet--hidden" data-id="_RrRohaPy" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _aWJdUZD7 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_aWJdUZD7"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _0aR_UjZM" data-id="_0aR_UjZM"><h3 class="_qaQP6rvk _DZR1tX0W" data-id="_DZR1tX0W" ><span class="_VWvqNvR9 _8r13HEXG _title _3JdPm85O" data-id="_8r13HEXG">LIEBE IST, IMMER EIN KLEINES BISSCHEN MEHR ZU TUN</span></h3></div></div></div><div class="_pDNE0kYl _9mExUyYo pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_9mExUyYo"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _MoPnUdo9" data-id="_MoPnUdo9"><div class="_pDNE0kYl _xYb6U1Wo pb-grid pb-grid--doubling pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_xYb6U1Wo"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Jwr6UqwN" data-id="_Jwr6UqwN"><picture class="_epNwrNGv _p5abhkev" data-id="_p5abhkev" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/noun_Shipping_1672175.png?18261245403401507441"></picture><p class="_7XqAY8_A _lzqVhKy2" data-id="_lzqVhKy2"><span hidden="" class="_VWvqNvR9 _lV3Ph7Ny _dropcap _2dknaNM0" data-id="_lV3Ph7Ny"></span><span class="_VWvqNvR9 _lV3Ph7Ny _text _ZGwmb_O6" data-id="_lV3Ph7Ny">Schnelle Lieferung<br></span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _BweAU3oj" data-id="_BweAU3oj"><picture class="_epNwrNGv _bXvwhM5B" data-id="_bXvwhM5B" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Path_124.png?18261245403401507441"></picture><p class="_7XqAY8_A _ja84hrkY" data-id="_ja84hrkY"><span hidden="" class="_VWvqNvR9 _BV5ghkVE _dropcap _2dknaNM0" data-id="_BV5ghkVE"></span><span class="_VWvqNvR9 _BV5ghkVE _text _ZGwmb_O6" data-id="_BV5ghkVE">100% sicherer Checkout<br>Alle gängigen Zahlungsarten</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _bZ69U_on" data-id="_bZ69U_on"><picture class="_epNwrNGv _dKr9h4eA" data-id="_dKr9h4eA" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/noun_clock_1781319.png?18261245403401507441"></picture><p class="_7XqAY8_A _vBevh6aX" data-id="_vBevh6aX"><span hidden="" class="_VWvqNvR9 _zegDhZel _dropcap _2dknaNM0" data-id="_zegDhZel"></span><span class="_VWvqNvR9 _zegDhZel _text _ZGwmb_O6" data-id="_zegDhZel">Rund um die Uhr<br>Kundenbetreuung</span></p></div></div></div></div></div></div></div></section></div><script type="text/javascript">
			window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({"isBackend":false,"isPreview":false,"key":"helper","css":[{"key":"fontawesome","url":"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css","elements":["Icon","Tabs","Slider","Accordion","Shopify.AddToCart","MailChimp","Form","Heading","Button","Shopify.SearchForm"]}],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":4382031961,"plan":"premium","shop_domain":"waterdrop-official-eu.myshopify.com","page_id":"164561"});(function(a){var d=a.createElement("script");d.src="{{ 'helper.js' | asset_url }}",d.async=!0,a.head.appendChild(d)})(document);

</script>