{% section 'product-template' %}
<!-- PageFly HTML -->
<link rel="stylesheet" href="https://cdn.pagefly.io/assets/pagefly/static/reset.css" /><link rel="stylesheet" href="https://cdn.pagefly.io/assets/pagefly/assets/1.3.13/main.css" /><style type="text/css">._ERbj1g7D { position: relative; } ._VWvqNvR9 { vertical-align: middle; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._O689JW7n { position: relative; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; background: none !important; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-size: cover !important; background-repeat: no-repeat; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM[data-container] ._DblQBlAM__container { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; } ._DblQBlAM .pf-parallax__img { position: absolute; object-fit: cover; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._GwlbZrJE { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._GwlbZrJE--diamond, ._GwlbZrJE--circle, ._GwlbZrJE--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._GwlbZrJE--circle { border-radius: 100%; } ._GwlbZrJE--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._GwlbZrJE--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk > span { font-weight: inherit; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--none i, ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._WDJGyJgk { position: relative; } ._lY5epAaJ { position: relative; } ._lY5epAaJ__button { background-color: #eee; cursor: pointer; padding: 10px 15px; // width: 100%; text-align: left; outline: none; transition: 0.4s; -webkit-transition: 0.4s; display: block; position: relative; } ._lY5epAaJ .accordion__header + div { padding: 1.5rem 0; } ._lY5epAaJ__button > i { margin-right: 5px; } ._lY5epAaJ__button.arrow--right .accordion__arrow { position: absolute; right: 10px; } ._lY5epAaJ .accordion__arrow { transition: .2s all; -webkit-transition: .2s all; } ._lY5epAaJ[data-active="true"] > a > .accordion__arrow { -webkit-transform: rotate(90deg); transform: rotate(90deg); } 
						    @media all { .__pf .__4GzhMp9[data-id="__4GzhMp9"] { font-size: 20px; line-height: 1.25; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; } .__pf ._9w06Tl4r[data-id="_9w06Tl4r"] { background-image: url("https://cdn.shopify.com/s/files/1/0004/7310/4447/files/ico_02_ee656018-db34-4336-befd-b5f530558b42.png?8693876060810198608"); background-position: 0% 50%; background-repeat: no-repeat; height: 75px; padding-left: 80px; padding-top: 10px; margin-left: 125px; } .__pf ._1O5KhPB9[data-id="_1O5KhPB9"] { font-size: 20px; line-height: 1.25; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; background-repeat: no-repeat; background-position: 0% 50%; } .__pf ._1O56Ty42[data-id="_1O56Ty42"] { padding-top: 10px; margin-left: 125px; padding-left: 70px; background-image: url("https://cdn.shopify.com/s/files/1/0004/7310/4447/files/ico_01_a614852c-9877-4a2a-aa67-44440bd1c402.png?4820838716806572510"); background-position: 0% 50%; background-repeat: no-repeat; } .__pf ._ROBkhax4[data-id="_ROBkhax4"] { font-size: 20px; line-height: 1.25; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; background-repeat: no-repeat; background-position: 0% 50%; } .__pf ._NxNNTRpx[data-id="_NxNNTRpx"] { background-image: url("https://cdn.shopify.com/s/files/1/0004/7310/4447/files/ico_03_32907382-7a08-4296-9563-ed04d6ae09a7.png?9121736023922615155"); background-position: 0% 50%; background-repeat: no-repeat; padding-top: 10px; margin-left: 125px; padding-left: 70px; } .__pf ._1qmpi_27[data-id="_1qmpi_27"] { margin: 0px; width: 900px; text-align: left; } .__pf ._pLdBCP2y[data-id="_pLdBCP2y"] { margin-bottom: 0px; margin-top: 155px; background-color: rgb(250, 250, 250); padding-top: 25px; padding-bottom: 25px; } .__pf .__VJXhvja[data-id="__VJXhvja"] { font-size: 30px; line-height: 30px; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; padding-top: 200px; padding-left: 75px; padding-right: 50px; } .__pf ._Z9yph0jw[data-id="_Z9yph0jw"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-left: 75px; padding-right: 50px; } .__pf ._yZ96ig42[data-id="_yZ96ig42"] { margin: 0px; border-style: solid; border-width: 0px; } .__pf ._Qy9GC2L9[data-id="_Qy9GC2L9"] { margin-top: 0px; border-style: solid; border-width: 0px 0px 1px; border-color: rgba(242, 242, 242, 0.75); padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px; } .__pf ._1O_5h6qj[data-id="_1O_5h6qj"] { font-size: 30px; line-height: 30px; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; padding-top: 170px; padding-left: 75px; padding-right: 50px; } .__pf ._yVNrhowO[data-id="_yVNrhowO"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-left: 75px; padding-right: 50px; } .__pf ._97nOiD1Z[data-id="_97nOiD1Z"] { margin: 0px; border-style: solid; border-width: 0px; } .__pf ._8Zj8CjEZ[data-id="_8Zj8CjEZ"] { border-style: solid; border-width: 1px; border-color: rgba(242, 242, 242, 0.75); padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px; } .__pf .__VJXh2Ej[data-id="__VJXh2Ej"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(255, 208, 0); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(255, 208, 0); } .__pf ._Z9yphDNj[data-id="_Z9yphDNj"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(229, 192, 32); text-align: left; padding-top: 5px; } .__pf ._b4mehExj[data-id="_b4mehExj"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._8O3yhYJO[data-id="_8O3yhYJO"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(150, 5, 56); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(150, 5, 56); } .__pf .__4evhBbj[data-id="__4evhBbj"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(150, 5, 56); text-align: left; padding-top: 5px; } .__pf ._djWvhoJV[data-id="_djWvhoJV"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._ajKrhyy9[data-id="_ajKrhyy9"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(133, 184, 139); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(133, 184, 139); } .__pf ._2VPWhdo4[data-id="_2VPWhdo4"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(133, 184, 139); text-align: left; padding-top: 5px; } .__pf ._A4Q_h75O[data-id="_A4Q_h75O"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._7_4GCody[data-id="_7_4GCody"] { background-color: rgb(250, 250, 250); padding-top: 50px; } .__pf ._m90nh8eV[data-id="_m90nh8eV"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(210, 46, 28); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(210, 46, 28); } .__pf ._PV1gh6aj[data-id="_PV1gh6aj"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(210, 46, 28); text-align: left; padding-top: 5px; } .__pf ._e42Qhm89[data-id="_e42Qhm89"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._5Oa5hqX4[data-id="_5Oa5hqX4"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(242, 143, 34); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(242, 143, 34); } .__pf ._B9DYhBPj[data-id="_B9DYhBPj"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(242, 143, 34); text-align: left; padding-top: 5px; } .__pf ._lO72hnvO[data-id="_lO72hnvO"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._ZOgmhDN4[data-id="_ZOgmhDN4"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(63, 24, 95); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(63, 24, 95); } .__pf ._yOMvhbo4[data-id="_yOMvhbo4"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(63, 24, 95); text-align: left; padding-top: 5px; } .__pf ._P4kdhxvV[data-id="_P4kdhxvV"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._7_bnCPOD[data-id="_7_bnCPOD"] { background-color: rgb(250, 250, 250); padding-bottom: 50px; } .__pf ._A4Q_hDON[data-id="_A4Q_hDON"] { font-size: 30px; line-height: 30px; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; padding-top: 200px; padding-left: 75px; padding-right: 50px; } .__pf ._ZVloh19w[data-id="_ZVloh19w"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-left: 75px; padding-right: 50px; } .__pf ._6qkniz7y[data-id="_6qkniz7y"] { margin: 0px; border-style: solid; border-width: 0px; } .__pf ._W_PRClDp[data-id="_W_PRClDp"] { border-style: solid; border-width: 0px 0px 1px; border-color: rgba(242, 242, 242, 0.75); padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px; } .__pf ._pMvvCZMD[data-id="_pMvvCZMD"] { text-align: center; font-size: 40px; color: rgb(0, 61, 71); letter-spacing: -1px; margin-top: 80px; margin-bottom: 50px; font-weight: 300; } .__pf ._BQqEfdBo[data-id="_BQqEfdBo"] { padding: 20px; } .__pf ._aowkfvjl[data-id="_aowkfvjl"] { padding: 20px; } .__pf ._vQd6fRZl[data-id="_vQd6fRZl"] { padding: 20px; } .__pf ._w3bwfbDW[data-id="_w3bwfbDW"] { padding: 20px; } .__pf ._5l5Efb4Q[data-id="_5l5Efb4Q"] { padding: 20px; } .__pf ._bWnkfjaQ[data-id="_bWnkfjaQ"] { padding: 20px; } .__pf ._AoLLf1ro[data-id="_AoLLf1ro"] { padding: 20px; } .__pf ._Gl4qfz6Q[data-id="_Gl4qfz6Q"] { padding: 20px; } .__pf ._WxrAI_g7[data-id="_WxrAI_g7"] > div > .accordion__header { background-color: white; color: black; font-weight: 700; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(235, 235, 235); padding: 15px; font-size: 16px; } .__pf ._WxrAI_g7[data-id="_WxrAI_g7"] { background-color: rgb(245, 245, 245); border-style: solid; border-width: 1px; border-color: rgb(235, 235, 235); } .__pf ._07priP8q[data-id="_07priP8q"] { padding-bottom: 50px; } .__pf ._Ao6Ofgbo[data-id="_Ao6Ofgbo"] { padding: 20px; } .__pf ._RQVMfK5o[data-id="_RQVMfK5o"] { padding: 20px; } .__pf ._5o7yfRz3[data-id="_5o7yfRz3"] { padding: 20px; } .__pf ._rQ9EfDG3[data-id="_rQ9EfDG3"] { padding: 20px; } .__pf ._XWk6fLrQ[data-id="_XWk6fLrQ"] { padding: 20px; } .__pf ._VlB5fd6o[data-id="_VlB5fd6o"] { padding: 20px; } .__pf ._DYW0Ikox[data-id="_DYW0Ikox"] > div > .accordion__header { background-color: white; color: black; font-weight: 700; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(235, 235, 235); padding: 15px; font-size: 16px; } .__pf ._DYW0Ikox[data-id="_DYW0Ikox"] { background-color: rgb(245, 245, 245); border-style: solid; border-width: 1px; border-color: rgb(235, 235, 235); } .__pf ._EZA1iPNR[data-id="_EZA1iPNR"] { padding-bottom: 50px; } .__pf ._z3XdfN8l[data-id="_z3XdfN8l"] { padding: 20px; } } @media only screen and (max-width: 767px) { .__pf .__4GzhMp9[data-id="__4GzhMp9"] { font-size: 14px; line-height: 1.25; padding-top: 20px; padding-left: 25px; padding-right: 0px; } .__pf ._9w06Tl4r[data-id="_9w06Tl4r"] { margin-left: 0px; padding-left: 50px; height: 75px; width: 300px; } .__pf ._1O5KhPB9[data-id="_1O5KhPB9"] { font-size: 14px; line-height: 1.25; padding-top: 20px; padding-left: 25px; padding-right: 0px; } .__pf ._1O56Ty42[data-id="_1O56Ty42"] { margin-left: 0px; padding-left: 70px; height: 75px; width: 300px; } .__pf ._ROBkhax4[data-id="_ROBkhax4"] { font-size: 14px; line-height: 1.25; padding-top: 20px; padding-left: 25px; padding-right: 0px; } .__pf ._NxNNTRpx[data-id="_NxNNTRpx"] { margin-left: 0px; height: 75px; width: 300px; } .__pf ._1qmpi_27[data-id="_1qmpi_27"] { width: 340px; } .__pf ._pLdBCP2y[data-id="_pLdBCP2y"] { margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px; } .__pf .__VJXhvja[data-id="__VJXhvja"] { font-size: 24px; line-height: 1.25; padding-top: 0px; padding-left: 25px; padding-right: 25px; } .__pf ._Z9yph0jw[data-id="_Z9yph0jw"] { font-size: 14px; line-height: 20px; padding-top: 0px; padding-left: 25px; padding-right: 25px; margin-bottom: 100px; } .__pf .__2RjT_OX[data-id="__2RjT_OX"] { height: 670px; } .__pf ._BxJQT_rb[data-id="_BxJQT_rb"] { margin-bottom: 0px; margin-top: 0px; } .__pf ._1O_5h6qj[data-id="_1O_5h6qj"] { font-size: 24px; line-height: 20px; padding-top: 25px; padding-left: 25px; padding-right: 25px; } .__pf ._yVNrhowO[data-id="_yVNrhowO"] { font-size: 14px; line-height: 20px; padding-top: 0px; padding-left: 25px; padding-right: 25px; margin-bottom: 100px; } .__pf ._YwgjTgE2[data-id="_YwgjTgE2"] { margin-bottom: 0px; margin-top: 0px; height: 300px; } .__pf .__VJXh2Ej[data-id="__VJXh2Ej"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._Z9yphDNj[data-id="_Z9yphDNj"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._b4mehExj[data-id="_b4mehExj"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._8O3yhYJO[data-id="_8O3yhYJO"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; margin-top: 25px; } .__pf .__4evhBbj[data-id="__4evhBbj"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._djWvhoJV[data-id="_djWvhoJV"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._ajKrhyy9[data-id="_ajKrhyy9"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; padding-top: 25px; } .__pf ._2VPWhdo4[data-id="_2VPWhdo4"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._A4Q_h75O[data-id="_A4Q_h75O"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._m90nh8eV[data-id="_m90nh8eV"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._PV1gh6aj[data-id="_PV1gh6aj"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._e42Qhm89[data-id="_e42Qhm89"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._5Oa5hqX4[data-id="_5Oa5hqX4"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; margin-top: 25px; } .__pf ._B9DYhBPj[data-id="_B9DYhBPj"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._lO72hnvO[data-id="_lO72hnvO"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._ZOgmhDN4[data-id="_ZOgmhDN4"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; padding-top: 25px; } .__pf ._yOMvhbo4[data-id="_yOMvhbo4"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._P4kdhxvV[data-id="_P4kdhxvV"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._A4Q_hDON[data-id="_A4Q_hDON"] { font-size: 24px; line-height: 20px; padding-top: 50px; padding-left: 25px; padding-right: 25px; } .__pf ._ZVloh19w[data-id="_ZVloh19w"] { font-size: 14px; line-height: 20px; padding-top: 0px; padding-left: 25px; padding-right: 25px; margin-bottom: 100px; } .__pf ._52y4Tmxb[data-id="_52y4Tmxb"] { margin-bottom: 0px; margin-top: 0px; } .__pf ._pMvvCZMD[data-id="_pMvvCZMD"] { font-size: 28px; margin-top: 10px; margin-bottom: 10px; } .__pf ._07priP8q[data-id="_07priP8q"] { padding-bottom: 0px; } .__pf ._DYW0Ikox[data-id="_DYW0Ikox"] { height: 100%; } } @media only screen and (min-width: 768px) and (max-width: 991px) { .__pf .__4GzhMp9[data-id="__4GzhMp9"] { font-size: 14px; padding-top: 20px; } .__pf ._9w06Tl4r[data-id="_9w06Tl4r"] { margin-left: 0px; width: 200px; } .__pf ._1O5KhPB9[data-id="_1O5KhPB9"] { font-size: 14px; padding-top: 20px; } .__pf ._1O56Ty42[data-id="_1O56Ty42"] { margin-left: 0px; width: 200px; } .__pf ._ROBkhax4[data-id="_ROBkhax4"] { font-size: 14px; padding-top: 10px; } .__pf ._NxNNTRpx[data-id="_NxNNTRpx"] { margin-left: 0px; padding-top: 20px; width: 200px; height: 75px; } .__pf ._pLdBCP2y[data-id="_pLdBCP2y"] { width: 750px; } .__pf .__VJXhvja[data-id="__VJXhvja"] { padding-top: 50px; padding-left: 25px; padding-right: 25px; } .__pf ._Z9yph0jw[data-id="_Z9yph0jw"] { padding-left: 25px; padding-right: 25px; } .__pf ._1O_5h6qj[data-id="_1O_5h6qj"] { padding-left: 25px; padding-right: 25px; padding-top: 50px; } .__pf ._yVNrhowO[data-id="_yVNrhowO"] { padding-left: 25px; padding-right: 25px; } .__pf ._A4Q_hDON[data-id="_A4Q_hDON"] { padding-top: 100px; padding-left: 25px; padding-right: 25px; } .__pf ._ZVloh19w[data-id="_ZVloh19w"] { padding-left: 25px; padding-right: 25px; } .__pf ._pMvvCZMD[data-id="_pMvvCZMD"] { font-size: 28px; margin-top: 0px; } } @media only screen and (min-width: 992px) and (max-width: 1199px) { .__pf ._1qmpi_27[data-id="_1qmpi_27"] { width: 1000px; } .__pf ._pLdBCP2y[data-id="_pLdBCP2y"] { width: 1000px; } } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="250" data-pf-initial-ver="250"><section data-container="true" class="_DblQBlAM _pLdBCP2y" data-id="_pLdBCP2y" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 900px;"><div class="_pDNE0kYl _1qmpi_27 pb-grid pb-grid--doubling pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_1qmpi_27"><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _9w06Tl4r" data-id="_9w06Tl4r"><p class="_7XqAY8_A __4GzhMp9" data-id="__4GzhMp9"><span hidden="" class="_VWvqNvR9 _xRZGhLGp _dropcap _2dknaNM0" data-id="_xRZGhLGp"></span><span class="_VWvqNvR9 _xRZGhLGp _text _ZGwmb_O6" data-id="_xRZGhLGp">Frucht- und Pflanzenextrakte<br></span></p></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _1O56Ty42" data-id="_1O56Ty42"><p class="_7XqAY8_A _1O5KhPB9" data-id="_1O5KhPB9"><span hidden="" class="_VWvqNvR9 _d3G9hwae _dropcap _2dknaNM0" data-id="_d3G9hwae"></span><span class="_VWvqNvR9 _d3G9hwae _text _ZGwmb_O6" data-id="_d3G9hwae">Ohne Zucker<br></span></p></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _NxNNTRpx" data-id="_NxNNTRpx"><p class="_7XqAY8_A _ROBkhax4" data-id="_ROBkhax4"><span hidden="" class="_VWvqNvR9 _6v56h9P3 _dropcap _2dknaNM0" data-id="_6v56h9P3"></span><span class="_VWvqNvR9 _6v56h9P3 _text _ZGwmb_O6" data-id="_6v56h9P3">Wertvolle Vitamine<br></span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _Qy9GC2L9" data-id="_Qy9GC2L9" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _yZ96ig42 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_yZ96ig42"><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n __2RjT_OX" data-id="__2RjT_OX"><picture class="_epNwrNGv _Zvwpf95q pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_Zvwpf95q" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Glas-Empowerment-3.jpg?1195016520613779279"></picture><p class="_7XqAY8_A __VJXhvja" data-id="__VJXhvja"><span hidden="" class="_VWvqNvR9 _8eJwh9em _dropcap _2dknaNM0" data-id="_8eJwh9em"></span><span class="_VWvqNvR9 _8eJwh9em _text _ZGwmb_O6" data-id="_8eJwh9em">Trinkst du auch zu wenig Wasser?<br></span></p><p class="_7XqAY8_A _Z9yph0jw" data-id="_Z9yph0jw"><span hidden="" class="_VWvqNvR9 _Mp7kha3g _dropcap _2dknaNM0" data-id="_Mp7kha3g"></span><span class="_VWvqNvR9 _Mp7kha3g _text _ZGwmb_O6" data-id="_Mp7kha3g">Es ist unser Lebenselixier. Wir brauchen es wie die Luft zum Atmen und trotzdem fällt es vielen Menschen schwer, mehr davon zu trinken. Unser zuckerfreier Microdrink schmeckt fantastisch, reichert dein Wasser mit Frucht- und Pflanzenextrakten sowie wertvollen Vitaminen an und hilft dir somit, mehr Wasser zu trinken.<br></span></p></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _BxJQT_rb" data-id="_BxJQT_rb"><picture class="_epNwrNGv _PvALfKny pb-mobile--hidden" data-id="_PvALfKny" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Glas-Empowerment-3.jpg?1195016520613779279" alt="Waterdrop Sorten"></picture></div></div></div></div></section><section data-container="true" class="_DblQBlAM _8Zj8CjEZ" data-id="_8Zj8CjEZ" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _97nOiD1Z pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_97nOiD1Z"><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _LwLNTP5O" data-id="_LwLNTP5O"><picture class="_epNwrNGv _yvB_flWa pb-large--hidden" data-id="_yvB_flWa" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Drop-Bottle-2.jpg?5200499844455290024"></picture><picture class="_epNwrNGv _0jRXfMY5 pb-desk--hidden pb-tablet--hidden pb-mobile--hidden" data-id="_0jRXfMY5" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Drop-Bottle-2.jpg?5200499844455290024" alt="Waterdrop Flaschen"></picture></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _YwgjTgE2" data-id="_YwgjTgE2"><p class="_7XqAY8_A _1O_5h6qj" data-id="_1O_5h6qj"><span hidden="" class="_VWvqNvR9 _Bv90hOn3 _dropcap _2dknaNM0" data-id="_Bv90hOn3"></span><span class="_VWvqNvR9 _Bv90hOn3 _text _ZGwmb_O6" data-id="_Bv90hOn3">Ganz wie du es magst.<br></span></p><p class="_7XqAY8_A _yVNrhowO" data-id="_yVNrhowO"><span hidden="" class="_VWvqNvR9 _8R67h6Zp _dropcap _2dknaNM0" data-id="_8R67h6Zp"></span><span class="_VWvqNvR9 _8R67h6Zp _text _ZGwmb_O6" data-id="_8R67h6Zp">Wähle deinen Lieblings-waterdrop™ aus und drop ihn je nach gewünschter Intensität in 400-600 ml Wasser. Der Drop löst sich in kurzer Zeit vollständig auf und du kannst den fantastischen Geschmack deiner gewählten Sorte genießen. Egal ob im Büro, beim Sport oder unterwegs.&nbsp;<br></span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _7_4GCody" data-id="_7_4GCody" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _m4XOipDq pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_m4XOipDq"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Kr6NT95w" data-id="_Kr6NT95w"><p class="_7XqAY8_A __VJXh2Ej" data-id="__VJXh2Ej"><span hidden="" class="_VWvqNvR9 _8eJwhAne _dropcap _2dknaNM0" data-id="_8eJwhAne"></span><span class="_VWvqNvR9 _8eJwhAne _text _ZGwmb_O6" data-id="_8eJwhAne">GLOW</span></p><p class="_7XqAY8_A _Z9yphDNj" data-id="_Z9yphDNj"><span hidden="" class="_VWvqNvR9 _Mp7kh963 _dropcap _2dknaNM0" data-id="_Mp7kh963"></span><span class="_VWvqNvR9 _Mp7kh963 _text _ZGwmb_O6" data-id="_Mp7kh963">Mango / Kaktusfeige / Artischoke</span></p><p class="_7XqAY8_A _b4mehExj" data-id="_b4mehExj"><span hidden="" class="_VWvqNvR9 _KezDhVMR _dropcap _2dknaNM0" data-id="_KezDhVMR"></span><span class="_VWvqNvR9 _KezDhVMR _text _ZGwmb_O6" data-id="_KezDhVMR">Sommerlicher GLOW mit tropischer Kaktusfeige, Artischocke und fruchtiger Mango. Hol dir dein Strahlen für Tage, die nach Sommer riechen.</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _WOjjTkeO" data-id="_WOjjTkeO"><p class="_7XqAY8_A _8O3yhYJO" data-id="_8O3yhYJO"><span hidden="" class="_VWvqNvR9 _Xpk8hAmR _dropcap _2dknaNM0" data-id="_Xpk8hAmR"></span><span class="_VWvqNvR9 _Xpk8hAmR _text _ZGwmb_O6" data-id="_Xpk8hAmR">RELAX</span></p><p class="_7XqAY8_A __4evhBbj" data-id="__4evhBbj"><span hidden="" class="_VWvqNvR9 _4Rd7hQMR _dropcap _2dknaNM0" data-id="_4Rd7hQMR"></span><span class="_VWvqNvR9 _4Rd7hQMR _text _ZGwmb_O6" data-id="_4Rd7hQMR">Hibiskus / Acerola / Aronia&nbsp; &nbsp;<br></span></p><p class="_7XqAY8_A _djWvhoJV" data-id="_djWvhoJV"><span hidden="" class="_VWvqNvR9 _rROlhXWe _dropcap _2dknaNM0" data-id="_rROlhXWe"></span><span class="_VWvqNvR9 _rROlhXWe _text _ZGwmb_O6" data-id="_rROlhXWe">Mit der botanischen Mischung aus Hibiskus, Acerola und Aronia findest du schnell deine innere Mitte. RELAX, für Momente voller Leichtigkeit und Entspannung.&nbsp;</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _7OMNTbv2" data-id="_7OMNTbv2"><p class="_7XqAY8_A _ajKrhyy9" data-id="_ajKrhyy9"><span hidden="" class="_VWvqNvR9 _Y3Kxhjj3 _dropcap _2dknaNM0" data-id="_Y3Kxhjj3"></span><span class="_VWvqNvR9 _Y3Kxhjj3 _text _ZGwmb_O6" data-id="_Y3Kxhjj3">FOCUS</span></p><p class="_7XqAY8_A _2VPWhdo4" data-id="_2VPWhdo4"><span hidden="" class="_VWvqNvR9 _7ePmhbX3 _dropcap _2dknaNM0" data-id="_7ePmhbX3"></span><span class="_VWvqNvR9 _7ePmhbX3 _text _ZGwmb_O6" data-id="_7ePmhbX3">Limette / Baobab / Acerola<br></span></p><p class="_7XqAY8_A _A4Q_h75O" data-id="_A4Q_h75O"><span hidden="" class="_VWvqNvR9 _VpQlhXK3 _dropcap _2dknaNM0" data-id="_VpQlhXK3"></span><span class="_VWvqNvR9 _VpQlhXK3 _text _ZGwmb_O6" data-id="_VpQlhXK3">Hol dir die einzigartige Komposition aus Baobab und Acerola – mit erfrischend natürlichem Limetten-Geschmack. FOCUS, wenn's wirklich wichtig ist.&nbsp;</span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _7_bnCPOD" data-id="_7_bnCPOD" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _m46yi0LR pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_m46yi0LR"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _1xq_T5br" data-id="_1xq_T5br"><p class="_7XqAY8_A _m90nh8eV" data-id="_m90nh8eV"><span hidden="" class="_VWvqNvR9 _Vv00hQJv _dropcap _2dknaNM0" data-id="_Vv00hQJv"></span><span class="_VWvqNvR9 _Vv00hQJv _text _ZGwmb_O6" data-id="_Vv00hQJv">DEFENCE</span></p><p class="_7XqAY8_A _PV1gh6aj" data-id="_PV1gh6aj"><span hidden="" class="_VWvqNvR9 _We1lhb73 _dropcap _2dknaNM0" data-id="_We1lhb73"></span><span class="_VWvqNvR9 _We1lhb73 _text _ZGwmb_O6" data-id="_We1lhb73">Cranberry / Hagebutte / Moringa</span></p><p class="_7XqAY8_A _e42Qhm89" data-id="_e42Qhm89"><span hidden="" class="_VWvqNvR9 _Np2JhJ7R _dropcap _2dknaNM0" data-id="_Np2JhJ7R"></span><span class="_VWvqNvR9 _Np2JhJ7R _text _ZGwmb_O6" data-id="_Np2JhJ7R">Die einzigartige Kombination von Moringa- und Hagebutten-Extrakt überrascht mit fruchtigem Cranberry-Geschmack. Für einen starken Tag.&nbsp;</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _prBqTdy2" data-id="_prBqTdy2"><p class="_7XqAY8_A _5Oa5hqX4" data-id="_5Oa5hqX4"><span hidden="" class="_VWvqNvR9 _MeyPhqY3 _dropcap _2dknaNM0" data-id="_MeyPhqY3"></span><span class="_VWvqNvR9 _MeyPhqY3 _text _ZGwmb_O6" data-id="_MeyPhqY3">YOUTH</span></p><p class="_7XqAY8_A _B9DYhBPj" data-id="_B9DYhBPj"><span hidden="" class="_VWvqNvR9 _7en0hYbv _dropcap _2dknaNM0" data-id="_7en0hYbv"></span><span class="_VWvqNvR9 _7en0hYbv _text _ZGwmb_O6" data-id="_7en0hYbv">Pfirsich / Ingwer / Ginseng&nbsp; &nbsp;<br></span></p><p class="_7XqAY8_A _lO72hnvO" data-id="_lO72hnvO"><span hidden="" class="_VWvqNvR9 _E3qKh4qR _dropcap _2dknaNM0" data-id="_E3qKh4qR"></span><span class="_VWvqNvR9 _E3qKh4qR _text _ZGwmb_O6" data-id="_E3qKh4qR">Erlebe das Zusammenspiel aus Ginseng- und Löwenzahn, abgerundet durch den feinen Geschmack von Pfirsich und Ingwer. Mit YOUTH einfach drauflos strahlen.</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _R2YKTMBx" data-id="_R2YKTMBx"><p class="_7XqAY8_A _ZOgmhDN4" data-id="_ZOgmhDN4"><span hidden="" class="_VWvqNvR9 _LpEKhlnv _dropcap _2dknaNM0" data-id="_LpEKhlnv"></span><span class="_VWvqNvR9 _LpEKhlnv _text _ZGwmb_O6" data-id="_LpEKhlnv">BOOST</span></p><p class="_7XqAY8_A _yOMvhbo4" data-id="_yOMvhbo4"><span hidden="" class="_VWvqNvR9 _2pDVhlbe _dropcap _2dknaNM0" data-id="_2pDVhlbe"></span><span class="_VWvqNvR9 _2pDVhlbe _text _ZGwmb_O6" data-id="_2pDVhlbe">Schwarze Johannisbeere / Holunderblüte / Açaí&nbsp; &nbsp;<br></span></p><p class="_7XqAY8_A _P4kdhxvV" data-id="_P4kdhxvV"><span hidden="" class="_VWvqNvR9 _JRoBhOAR _dropcap _2dknaNM0" data-id="_JRoBhOAR"></span><span class="_VWvqNvR9 _JRoBhOAR _text _ZGwmb_O6" data-id="_JRoBhOAR">Wenn du ein bisschen mehr leisten musst: Hol dir die Powerbeere Açaí, gepaart mit dem erlesenen Geschmack von schwarzer Johannisbeere und Holunderblüte.</span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _W_PRClDp" data-id="_W_PRClDp" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _6qkniz7y pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_6qkniz7y"><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _p216Tb2n" data-id="_p216Tb2n"><picture class="_epNwrNGv _VaKKfyax pb-large--hidden" data-id="_VaKKfyax" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Social-Grid.jpg?12017777429623301840"></picture><picture class="_epNwrNGv _25bpfmj3 pb-desk--hidden pb-tablet--hidden pb-mobile--hidden" data-id="_25bpfmj3" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Social-Grid.jpg?12017777429623301840" alt="Waterdrop Instagram"></picture></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _52y4Tmxb" data-id="_52y4Tmxb"><p class="_7XqAY8_A _A4Q_hDON" data-id="_A4Q_hDON"><span hidden="" class="_VWvqNvR9 _VpQlhm3y _dropcap _2dknaNM0" data-id="_VpQlhm3y"></span><span class="_VWvqNvR9 _VpQlhm3y _text _ZGwmb_O6" data-id="_VpQlhm3y">Die waterdrop™ Community.<br></span></p><p class="_7XqAY8_A _ZVloh19w" data-id="_ZVloh19w"><span hidden="" class="_VWvqNvR9 _qelahP3r _dropcap _2dknaNM0" data-id="_qelahP3r"></span><span class="_VWvqNvR9 _qelahP3r _text _ZGwmb_O6" data-id="_qelahP3r">Unsere Community wächst täglich. Wir haben weltweit mehr als 40,000 zufriedene Kunden die waterdrop™ lieben und nun mehr von dem Trinken was gut für sie ist.<br></span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _kyovC5ZN" data-id="_kyovC5ZN" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 690px;"><div class="_pDNE0kYl _w4NMid7o pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_w4NMid7o"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _KOKNT7w4" data-id="_KOKNT7w4"><h3 class="_qaQP6rvk _pMvvCZMD" data-id="_pMvvCZMD" ><span class="_VWvqNvR9 _LrL2HnYW _title _3JdPm85O" data-id="_LrL2HnYW">Noch Fragen ?</span></h3></div></div></div></div></section><section data-container="true" class="_DblQBlAM _QL9GCV2D" data-id="_QL9GCV2D" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _yR96i3g7 pb-grid pb-grid--doubling pb-grid--stackable pb-grid--two-columns pb-grid--equal-height" data-id="_yR96i3g7"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n __ORjT3_r" data-id="__ORjT3_r"><div class="_pDNE0kYl _07priP8q pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_07priP8q"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _LOZjTp_2" data-id="_LOZjTp_2"><div data-multiple="false" class="_lY5epAaJ _WxrAI_g7" data-id="_WxrAI_g7"><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-72" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wieviel Wasser passt in die Flasche?</a><div id="pb-content-72" class="_WDJGyJgk _BQqEfdBo" data-id="_BQqEfdBo" style="display: none;"><p class="_7XqAY8_A _g9ddhq59" data-id="_g9ddhq59"><span hidden="" class="_VWvqNvR9 _keMmhQmp _dropcap _2dknaNM0" data-id="_keMmhQmp"></span><span class="_VWvqNvR9 _keMmhQmp _text _ZGwmb_O6" data-id="_keMmhQmp">600 ml. Perfekt für einen frischen waterdrop™ deiner Wahl.</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-158" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Ist die Flasche für unterwegs geeignet?</a><div id="pb-content-158" class="_WDJGyJgk _aowkfvjl" data-id="_aowkfvjl" style="display: none;"><p class="_7XqAY8_A _m4rkherV" data-id="_m4rkherV"><span hidden="" class="_VWvqNvR9 _yRgrhVxp _dropcap _2dknaNM0" data-id="_yRgrhVxp"></span><span class="_VWvqNvR9 _yRgrhVxp _text _ZGwmb_O6" data-id="_yRgrhVxp">Unsere Trinkflasche aus Glas ist dein perfekter Wegbegleiter im Alltag. Die schützende Thermo-Hülle sorgt nicht nur dafür, dass dein Microdrink die gewünschte Temperatur behält, sondern schützt deine Flasche auch besonders gut vor äußeren Umwelteinflüssen. Der nachhaltige Bambusdeckel hält die Flasche bombendicht.</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-160" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Warum ist am Boden des Sleeves ein Loch?</a><div id="pb-content-160" class="_WDJGyJgk _z3XdfN8l" data-id="_z3XdfN8l" style="display: none;"><p class="_7XqAY8_A _x4RdhkxV" data-id="_x4RdhkxV"><span hidden="" class="_VWvqNvR9 _N3m8hw_R _dropcap _2dknaNM0" data-id="_N3m8hw_R"></span><span class="_VWvqNvR9 _N3m8hw_R _text _ZGwmb_O6" data-id="_N3m8hw_R">Das kleine Loch am Boden ermöglicht es dir, die Flasche noch leichter im schützenden Sleeve zu platzieren – reine Physik also.<br></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-156" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wie funktioniert waterdrop™?</a><div id="pb-content-156" class="_WDJGyJgk _vQd6fRZl" data-id="_vQd6fRZl" style="display: none;"><p class="_7XqAY8_A _1O_5hpmj" data-id="_1O_5hpmj"><span hidden="" class="_VWvqNvR9 _Bv90hB_3 _dropcap _2dknaNM0" data-id="_Bv90hB_3"></span><span class="_VWvqNvR9 _Bv90hB_3 _text _ZGwmb_O6" data-id="_Bv90hB_3">Öffne den jeweiligen waterdrop™ und „drop“ ihn einfach in ein kaltes Glas, Karaffe oder Flasche Wasser. Danach lehnst du dich entspannt ein paar Momente zurück, bis sich der Microdrink vollständig aufgelöst hat. Anschließend kannst du deinen fruchtigen Drink genießen - wann, wo und wie auch immer du willst.&nbsp;</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-74" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Mit wieviel Wasser trinke ich einen waterdrop™?</a><div id="pb-content-74" class="_WDJGyJgk _w3bwfbDW" data-id="_w3bwfbDW" style="display: none;"><p class="_7XqAY8_A __OevheM9" data-id="__OevheM9"><span hidden="" class="_VWvqNvR9 _4ed7hOne _dropcap _2dknaNM0" data-id="_4ed7hOne"></span><span class="_VWvqNvR9 _4ed7hOne _text _ZGwmb_O6" data-id="_4ed7hOne">Du entscheidest über die Wassermenge – ob im Glas oder in der großen Karaffe. Wir empfehlen dir unsere erfrischenden Microdrinks aufgelöst in ca. 400 bis 600 ml Wasser zu genießen. <br>Pure Geschmackssache. Ob still oder prickelnd bleibt ebenfalls dir überlassen. Waterdrop™ ist genauso individuell wie dein Geschmack.<br><br></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-76" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Enthalten waterdrops Zucker?</a><div id="pb-content-76" class="_WDJGyJgk _5l5Efb4Q" data-id="_5l5Efb4Q" style="display: none;"><p class="_7XqAY8_A _rVXdhXl4" data-id="_rVXdhXl4"><span hidden="" class="_VWvqNvR9 _OeXDhgle _dropcap _2dknaNM0" data-id="_OeXDhgle"></span><span class="_VWvqNvR9 _OeXDhgle _text _ZGwmb_O6" data-id="_OeXDhgle">Nein, unsere waterdrops sind komplett zuckerfrei. Um die enthaltenen Frucht- und Pflanzenextrakte mit einer angenehmen Süße abzurunden, findest du in jedem waterdrop™ eine kleine Menge an Sucralose. Somit ist waterdrop™ figur- und zahnfreundlich, hat maximal 4 Kcal pro waterdrop™ und ist perfekt für Diabetiker geeignet. </span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-78" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Ist waterdrop™ gesund? </a><div id="pb-content-78" class="_WDJGyJgk _bWnkfjaQ" data-id="_bWnkfjaQ" style="display: none;"><p class="_7XqAY8_A _2jPWhrLO" data-id="_2jPWhrLO"><span hidden="" class="_VWvqNvR9 _73Pmh4Lv _dropcap _2dknaNM0" data-id="_73Pmh4Lv"></span><span class="_VWvqNvR9 _73Pmh4Lv _text _ZGwmb_O6" data-id="_73Pmh4Lv">Ausreichend Wasser zu trinken hat zahlreiche gesundheitliche Vorteile und ist essentiell für unser Wohlbefinden. Mit waterdrop™ helfen wir dir, mehr davon zu trinken, indem wir großartigen Geschmack durch natürliche Frucht- und Pflanzenextrakte in dein Wasser bringen. Dabei verzichten wir ganz bewusst auf unnötige fiese chemische Inhaltsstoffe wie künstliche Farb- oder Konservierungsstoffe. Dadurch schaffen es viele unserer Kunden auf ungesunde, zuckerhaltige Getränke in Dosen oder Flaschen verzichten zu können. Zusätzlich enthält jeder waterdrop™ wertvolle Vitamine, die dir helfen deinen Tagesbedarf am jeweiligen Vitamin zu decken.</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-80" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wo werden die waterdrop™ produziert?</a><div id="pb-content-80" class="_WDJGyJgk _AoLLf1ro" data-id="_AoLLf1ro" style="display: none;"><p class="_7XqAY8_A _ZjlohZ14" data-id="_ZjlohZ14"><span hidden="" class="_VWvqNvR9 _q3lahQPv _dropcap _2dknaNM0" data-id="_q3lahQPv"></span><span class="_VWvqNvR9 _q3lahQPv _text _ZGwmb_O6" data-id="_q3lahQPv">Ja - unsere waterdrops werden unter den höchsten Qualitätsstandards in einem eigens entwickelten Verfahren in Deutschland hergestellt. Die Frucht- und Pflanzenextrakte beziehen wir von regional ausgewählten Partnern mit kontrolliertem, nachhaltigem Anbau.&nbsp;</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-82" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wie ist waterdrop™ verpackt?</a><div id="pb-content-82" class="_WDJGyJgk _Gl4qfz6Q" data-id="_Gl4qfz6Q" style="display: none;"><p class="_7XqAY8_A _3jLBhw7j" data-id="_3jLBhw7j"><span hidden="" class="_VWvqNvR9 _o3Lgh7PR _dropcap _2dknaNM0" data-id="_o3Lgh7PR"></span><span class="_VWvqNvR9 _o3Lgh7PR _text _ZGwmb_O6" data-id="_o3Lgh7PR">In unseren waterdrops befinden sich höchstsensible natürliche Frucht- und Pflanzenextrakte. Um diese optimal vor Luft und Feuchtigkeit zu schützen, werden sie in eine recyclebare PET-Hülle gekleidet, die über 2 Jahre von einem führenden Expertenteam in Deutschland entwickelt wurde. Damit sparst du im Vergleich zu herkömmlichen Getränken 97% an unnötiger Verpackung – nicht zu sprechen von den Unmengen an Transportgewicht, die wegfallen, da alles was du brauchst bereits bei dir ist: frisches Wasser. Zudem kannst du nun deinen Lieblingsdrink ganz einfach in der Hosentasche jederzeit und überall dabeihaben – vom Büro bis zum Reisen, du hast maximale Flexibilität.</span></p></div></div></div></div></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Rrd4Tyo2" data-id="_Rrd4Tyo2"><div class="_pDNE0kYl _EZA1iPNR pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_EZA1iPNR"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _mxGqTaRr" data-id="_mxGqTaRr"><div data-multiple="false" class="_lY5epAaJ _DYW0Ikox" data-id="_DYW0Ikox"><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-92" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - FOCUS</a><div id="pb-content-92" class="_WDJGyJgk _Ao6Ofgbo" data-id="_Ao6Ofgbo" style="display: none;"><p class="_7XqAY8_A _yVMvh5aO" data-id="_yVMvh5aO"><span hidden="" class="_VWvqNvR9 _2RDVhQL3 _dropcap _2dknaNM0" data-id="_2RDVhQL3"></span><span class="_VWvqNvR9 _2RDVhQL3 _text _ZGwmb_O6" data-id="_2RDVhQL3"><p>Wissen, was zählt - in den starken Momenten: Hol dir die einzigartige Komposition aus Baobab und Acerola – mit erfrischend natürlichem Limetten-Geschmack. FOCUS, wenn's wirklich wichtig ist.&nbsp;</p><aside class="accordion">

<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,34 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>5,0 mg</td>
<td>6 %</td>
<td>20 mg</td>
<td>25 %</td>
</tr>
<tr>
<td>Thiamin</td>
<td>0,11 mg</td>
<td>10 %</td>
<td>0,44 mg</td>
<td>40 %</td>
</tr>
<tr>
<td>Pantothensäure</td>
<td>0,75 mg</td>
<td>13 %</td>
<td>3,0 mg</td>
<td>50 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Extrakt aus Baobab-Fruchtfleisch, natürliches Aroma, Acerola-Extrakt, Vitamin C, Süßungsmittel Sucralose, Pantothensäure, Thiamin, Farbstoff Kupferkomplexe der Chlorophylline<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-94" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - GLOW</a><div id="pb-content-94" class="_WDJGyJgk _RQVMfK5o" data-id="_RQVMfK5o" style="display: none;"><p class="_7XqAY8_A _KOoEhgKj" data-id="_KOoEhgKj"><span hidden="" class="_VWvqNvR9 _MR8mh8d3 _dropcap _2dknaNM0" data-id="_MR8mh8d3"></span><span class="_VWvqNvR9 _MR8mh8d3 _text _ZGwmb_O6" data-id="_MR8mh8d3"><p>Das Funkeln fördern? Ganz leicht: lass in eiskaltem Wasser tropische Kaktusfeige auf feinherbe Artischocke treffen. Abgerundet durch das fruchtig natürliche Aroma der Mango, holst du dir dein Strahlen für Tage, die nach Sommer riechen. GLOW – shine a light.</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 4 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,37 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>6,0 mg</td>
<td>8 %</td>
<td>24 mg</td>
<td>30 %</td>
</tr>
<tr>
<td>Thiamin</td>
<td>0,12 mg</td>
<td>11 %</td>
<td>0,50 mg</td>
<td>45 %</td>
</tr>
<tr>
<td>Vitamin E</td>
<td>0,45 mg</td>
<td>4&nbsp;%</td>
<td>1,8 mg</td>
<td>15 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Artischocken-Extrakt, natürliches Aroma, Kaktusfeigen-Extrakt, Vitamin C, Süßungsmittel Sucralose, Vitamin E, Thiamin<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-96" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - RELAX</a><div id="pb-content-96" class="_WDJGyJgk _5o7yfRz3" data-id="_5o7yfRz3" style="display: none;"><p class="_7XqAY8_A _EVbAhM14" data-id="_EVbAhM14"><span hidden="" class="_VWvqNvR9 _1vV0hy2e _dropcap _2dknaNM0" data-id="_1vV0hy2e"></span><span class="_VWvqNvR9 _1vV0hy2e _text _ZGwmb_O6" data-id="_1vV0hy2e"><p>Alles easy! Mit der botanischen Mischung aus Hibiskus und Acerola, verfeinert mit natürlichem Aronia-Geschmack findest du deine innere Mitte. RELAX, für Momente voller Leichtigkeit und Entspannung.&nbsp;</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 4 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 17 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,36 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>8,0 mg</td>
<td>10 %</td>
<td>32 mg</td>
<td>40 %</td>
</tr>
<tr>
<td>Thiamin</td>
<td>0,08 mg</td>
<td>5 %</td>
<td>0,33 mg</td>
<td>30 %</td>
</tr>
<tr>
<td>Biotin</td>
<td>4,4 µg</td>
<td>11 %</td>
<td>17,5 µg</td>
<td>35 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Hibiskusblüten-Extrakt, natürliches Aroma, Vitamin C, Acerola-Extrakt, Süßungsmittel Sucralose, färbendes Konzentrat aus Karotte, Thiamin, Biotin<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-98" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - YOUTH</a><div id="pb-content-98" class="_WDJGyJgk _rQ9EfDG3" data-id="_rQ9EfDG3" style="display: none;"><p class="_7XqAY8_A _N96yhplV" data-id="_N96yhplV"><span hidden="" class="_VWvqNvR9 __ejohdBe _dropcap _2dknaNM0" data-id="__ejohdBe"></span><span class="_VWvqNvR9 __ejohdBe _text _ZGwmb_O6" data-id="__ejohdBe"><p>Die Haut ist der Spiegel der Seele. Erlebe das fabelhafte Zusammenspiel aus Ginseng- und Löwenzahn-Extrakt, abgerundet durch den feinen Geschmack von Pfirsich und Ingwer. Mit YOUTH einfach drauflos strahlen.</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 19 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,35 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>7,0 mg</td>
<td>9 %</td>
<td>28 mg</td>
<td>35 %</td>
</tr>
<tr>
<td>Niacin</td>
<td>1,8 mg</td>
<td>11 %</td>
<td>7,2 mg</td>
<td>45 %</td>
</tr>
<tr>
<td>Biotin</td>
<td>4,4 µg</td>
<td>9&nbsp;%</td>
<td>17,5 µg</td>
<td>35 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, natürliches Aroma, Ginseng-Extrakt, Löwenzahn-Extrakt, Vitamin C, Süßungsmittel Sucralose, färbendes Konzentrat aus Karotte, Niacin, färbendes Konzentrat aus Saflor, Biotin<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-152" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - DEFENCE</a><div id="pb-content-152" class="_WDJGyJgk _XWk6fLrQ" data-id="_XWk6fLrQ" style="display: none;"><p class="_7XqAY8_A _pjzWhpaj" data-id="_pjzWhpaj"><span hidden="" class="_VWvqNvR9 _l3alhm7e _dropcap _2dknaNM0" data-id="_l3alhm7e"></span><span class="_VWvqNvR9 _l3alhm7e _text _ZGwmb_O6" data-id="_l3alhm7e"><p>Thai Chi oder Vitamin C? Am besten beides, um die Abwehrkräfte stark zu halten. Die einzigartige Kombination von herbem Moringa- und Hagebutten-Extrakt überrascht mit fruchtigem Cranberry-Geschmack. DEFENCE, für einen starken Tag.&nbsp;</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,11 g</td>
<td>&nbsp;</td>
<td>0,45 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>6,0 mg</td>
<td>8 %</td>
<td>24 mg</td>
<td>30 %</td>
</tr>
<tr>
<td>Riboflavin</td>
<td>0,07 mg</td>
<td>5 %</td>
<td>0,28 mg</td>
<td>20 %</td>
</tr>
<tr>
<td>Biotin</td>
<td>5,6 µg</td>
<td>11 %</td>
<td>22,5 µg</td>
<td>45 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, natürliches Aroma, Moringa-Extrakt, Hagebutten-Extrakt, färbendes Konzentrat aus Karotte, Vitamin C, Süßungsmittel Sucralose, färbendes Konzentrat aus Saflor, Riboflavin, Biotin<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-154" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - BOOST</a><div id="pb-content-154" class="_WDJGyJgk _VlB5fd6o" data-id="_VlB5fd6o" style="display: none;"><p class="_7XqAY8_A __V8mh2W9" data-id="__V8mh2W9"><span hidden="" class="_VWvqNvR9 _j3Ajh1je _dropcap _2dknaNM0" data-id="_j3Ajh1je"></span><span class="_VWvqNvR9 _j3Ajh1je _text _ZGwmb_O6" data-id="_j3Ajh1je"><p>Wenn du ein bisschen mehr leisten musst: Hol dir die aus Brasilien bekannte Powerbeere Açaí, gepaart mit dem erlesenen Geschmack von schwarzer Johannisbeere und Holunderblüte.</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 Kcal /&nbsp;5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 Kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate&nbsp;</strong></td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,37 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>5,0 mg</td>
<td>6&nbsp;%</td>
<td>20,0 mg</td>
<td>25 %</td>
</tr>
<tr>
<td>Vitamin B6</td>
<td>0,16 mg</td>
<td>11 %</td>
<td>0,63 mg</td>
<td>45 %</td>
</tr>
<tr>
<td>Vitamin B12</td>
<td>0,25 µg</td>
<td>10 %</td>
<td>1 µg</td>
<td>40 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Açaí-Extrakt, natürliches Aroma, Vitamin C, färbendes Konzentrat aus Karotte, Süßungsmittel Sucralose, Vitamin B6, Vitamin B12.</aside></span></p></div></div></div></div></div></div></div></div></div></div></section></div><script type="text/javascript">
			window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({"isBackend":false,"isPreview":false,"key":"helper","css":[{"key":"fontawesome","url":"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css","elements":["Icon","Tabs","Slider","Accordion","Shopify.AddToCart","MailChimp","Form","Heading","Button","Shopify.SearchForm","Slider2"]}],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":473104447,"plan":"premium","shop_domain":"waterdrop-official.myshopify.com","page_id":"172431"});(function(a){var d=a.createElement("script");d.src="https://cdn.pagefly.io/assets/pagefly/assets/1.3.13/helper.js",d.async=!0,a.head.appendChild(d)})(document);

</script>