{% section 'product-template' %}
<!-- PageFly HTML -->
<link rel="stylesheet" href="https://cdn.pagefly.io/assets/pagefly/static/reset.css" /><link rel="stylesheet" href="https://cdn.pagefly.io/assets/pagefly/assets/1.3.13/main.css" /><style type="text/css">._ERbj1g7D { position: relative; } ._VWvqNvR9 { vertical-align: middle; } ._7XqAY8_A > span:last-child { line-height: inherit; } ._7XqAY8_A[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; font-size: 2em; background: #919da9; color: black; width: 50px; height: 50px; line-height: 50px; } ._7XqAY8_A[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; } ._7XqAY8_A.dropcap--none > span:first-child { text-align: inherit; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; border-radius: 0; } ._7XqAY8_A.dropcap--circle > span:first-child { border-radius: 100%; } ._7XqAY8_A:not([class*="dropcap--"]) > span { margin-right: 0 !important; } ._7XqAY8_A ol, ._7XqAY8_A ul { list-style-position: inside; } ._7XqAY8_A blockquote { font-size: inherit; } ._O689JW7n { position: relative; } ._pDNE0kYl { position: relative; } ._pDNE0kYl { margin: 0 -15px; } ._DblQBlAM { position: relative; } ._DblQBlAM { clear: both; } ._DblQBlAM[data-parallax="true"] { position: relative; background: none !important; } ._DblQBlAM__parallax { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; pointer-events: none; background-size: cover !important; background-repeat: no-repeat; } ._DblQBlAM { box-sizing: border-box; padding: 15px 0; position: relative; } ._DblQBlAM[data-container] ._DblQBlAM__container { padding-left: 15px; padding-right: 15px; width: auto; margin: auto; box-sizing: border-box; } ._DblQBlAM .pf-parallax__img { position: absolute; object-fit: cover; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; } ._epNwrNGv { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; } ._epNwrNGv picture { width: 100%; } ._epNwrNGv img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; } ._epNwrNGv.image--rounded { border-radius: 10px; } ._epNwrNGv.image--circle { border-radius: 100%; } ._epNwrNGv[data-action], ._epNwrNGv[data-event] { cursor: pointer; } ._GwlbZrJE { font-size: 1em; vertical-align: middle; text-align: center; width: auto; height: auto; } ._GwlbZrJE--diamond, ._GwlbZrJE--circle, ._GwlbZrJE--square { width: 50px; height: 50px; line-height: 50px; border: 1px solid; } ._GwlbZrJE--circle { border-radius: 100%; } ._GwlbZrJE--diamond { transform: rotate(45deg); -webkit-transform: rotate(45deg); } ._GwlbZrJE--diamond:before { display: block; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); } ._qaQP6rvk > a { color: inherit !important; } ._qaQP6rvk > span { font-weight: inherit; } ._qaQP6rvk { word-break: break-word; } ._qaQP6rvk__icon--none i, ._qaQP6rvk__icon--left i { margin-right: 0.3em; } ._qaQP6rvk__icon--right i { margin-left: 0.3em; } ._qaQP6rvk__icon--top i { margin-bottom: 0.5em; } ._qaQP6rvk__icon--top > span, ._qaQP6rvk__icon--top > a, ._qaQP6rvk__icon--top > span[data-empty][contenteditable] { display: block; } ._qaQP6rvk [class*="--diamond"] { margin-right: 1em; } ._WDJGyJgk { position: relative; } ._lY5epAaJ { position: relative; } ._lY5epAaJ__button { background-color: #eee; cursor: pointer; padding: 10px 15px; // width: 100%; text-align: left; outline: none; transition: 0.4s; -webkit-transition: 0.4s; display: block; position: relative; } ._lY5epAaJ .accordion__header + div { padding: 1.5rem 0; } ._lY5epAaJ__button > i { margin-right: 5px; } ._lY5epAaJ__button.arrow--right .accordion__arrow { position: absolute; right: 10px; } ._lY5epAaJ .accordion__arrow { transition: .2s all; -webkit-transition: .2s all; } ._lY5epAaJ[data-active="true"] > a > .accordion__arrow { -webkit-transform: rotate(90deg); transform: rotate(90deg); } 
						    @media all { .__pf ._ja84hDbk[data-id="_ja84hDbk"] { font-size: 20px; line-height: 1.25; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; } .__pf ._poVXU6NZ[data-id="_poVXU6NZ"] { background-image: url("https://cdn.shopify.com/s/files/1/0004/7310/4447/files/ico_02_ee656018-db34-4336-befd-b5f530558b42.png?8693876060810198608"); background-position: 0% 50%; background-repeat: no-repeat; height: 75px; padding-left: 80px; padding-top: 10px; margin-left: 125px; } .__pf ._wBbmhGMz[data-id="_wBbmhGMz"] { font-size: 20px; line-height: 1.25; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; background-repeat: no-repeat; background-position: 0% 50%; } .__pf ._BweAUlro[data-id="_BweAUlro"] { padding-top: 10px; margin-left: 125px; padding-left: 70px; background-image: url("https://cdn.shopify.com/s/files/1/0004/7310/4447/files/ico_01_a614852c-9877-4a2a-aa67-44440bd1c402.png?4820838716806572510"); background-position: 0% 50%; background-repeat: no-repeat; } .__pf ._lyjZhoKk[data-id="_lyjZhoKk"] { font-size: 20px; line-height: 1.25; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; background-repeat: no-repeat; background-position: 0% 50%; } .__pf ._dwKeUbRZ[data-id="_dwKeUbRZ"] { background-image: url("https://cdn.shopify.com/s/files/1/0004/7310/4447/files/ico_03_32907382-7a08-4296-9563-ed04d6ae09a7.png?9121736023922615155"); background-position: 0% 50%; background-repeat: no-repeat; padding-top: 10px; margin-left: 125px; padding-left: 70px; } .__pf ._Jm24Uj9W[data-id="_Jm24Uj9W"] { margin: 0px; width: 900px; text-align: left; } .__pf ._y1V3hYJ1[data-id="_y1V3hYJ1"] { margin-bottom: 0px; margin-top: 155px; background-color: rgb(250, 250, 250); padding-top: 25px; padding-bottom: 25px; } .__pf ._wzXVhmKy[data-id="_wzXVhmKy"] { font-size: 30px; line-height: 30px; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; padding-top: 200px; padding-left: 75px; padding-right: 50px; } .__pf ._8yKKhx5y[data-id="_8yKKhx5y"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-left: 75px; padding-right: 50px; } .__pf ._gY5yUVdr[data-id="_gY5yUVdr"] { margin: 0px; border-style: solid; border-width: 0px; } .__pf ._lPjahkbr[data-id="_lPjahkbr"] { margin-top: 0px; border-style: solid; border-width: 0px 0px 1px; border-color: rgba(242, 242, 242, 0.75); padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px; } .__pf ._RB1Vh6Wa[data-id="_RB1Vh6Wa"] { font-size: 30px; line-height: 30px; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; padding-top: 170px; padding-left: 75px; padding-right: 50px; } .__pf ._Ka2Dhq0B[data-id="_Ka2Dhq0B"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-left: 75px; padding-right: 50px; } .__pf .__Yn4U8nD[data-id="__Yn4U8nD"] { margin: 0px; border-style: solid; border-width: 0px; } .__pf ._DPbbh5eP[data-id="_DPbbh5eP"] { border-style: solid; border-width: 1px; border-color: rgba(242, 242, 242, 0.75); padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px; } .__pf ._VzwWhxXy[data-id="_VzwWhxXy"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(255, 208, 0); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px; border-color: rgb(255, 208, 0); } .__pf ._XBWNhv1z[data-id="_XBWNhv1z"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(229, 192, 32); text-align: left; padding-top: 5px; } .__pf ._Akmgh00a[data-id="_Akmgh00a"] { font-size: 14px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._Zz7qh_dy[data-id="_Zz7qh_dy"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(150, 5, 56); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px; border-color: rgb(150, 5, 56); } .__pf ._4zEDhZ5B[data-id="_4zEDhZ5B"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(150, 5, 56); text-align: left; padding-top: 5px; } .__pf ._OkZxhrqk[data-id="_OkZxhrqk"] { font-size: 14px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._51X5hod1[data-id="_51X5hod1"] { background-color: rgb(250, 250, 250); padding-top: 50px; } .__pf ._PzLqh54k[data-id="_PzLqh54k"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(242, 143, 34); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px; border-color: rgb(242, 143, 34); } .__pf ._Gy0Zh7Yz[data-id="_Gy0Zh7Yz"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(242, 143, 34); text-align: left; padding-top: 5px; } .__pf ._Rz1Vh9Kk[data-id="_Rz1Vh9Kk"] { font-size: 14px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._LapnhK4B[data-id="_LapnhK4B"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(133, 184, 139); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px; border-color: rgb(133, 184, 139); } .__pf ._Dzn3hW0a[data-id="_Dzn3hW0a"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(133, 184, 139); text-align: left; padding-top: 5px; } .__pf ._3koqh1oB[data-id="_3koqh1oB"] { font-size: 14px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._51JghNRr[data-id="_51JghNRr"] { background-color: rgb(250, 250, 250); padding-bottom: 15px; } .__pf ._wybmhjMB[data-id="_wybmhjMB"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(210, 46, 28); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px; border-color: rgb(242, 143, 34); } .__pf ._lkjZhPKa[data-id="_lkjZhPKa"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(210, 46, 28); text-align: left; padding-top: 5px; } .__pf ._vyevh4Dz[data-id="_vyevh4Dz"] { font-size: 14px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._pB_vhdNk[data-id="_pB_vhdNk"] { font-size: 24px; line-height: 30px; letter-spacing: 0px; color: rgb(63, 24, 95); text-align: left; margin-bottom: 0px; border-style: solid; border-width: 0px; border-color: rgb(133, 184, 139); } .__pf ._VBwWhJXk[data-id="_VBwWhJXk"] { font-size: 15px; line-height: 20px; letter-spacing: 0px; color: rgb(63, 24, 95); text-align: left; padding-top: 5px; } .__pf ._XyWNh61B[data-id="_XyWNh61B"] { font-size: 14px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; } .__pf ._5r0ghJqr[data-id="_5r0ghJqr"] { background-color: rgb(250, 250, 250); padding-bottom: 50px; } .__pf ._bagPhRqy[data-id="_bagPhRqy"] { font-size: 30px; line-height: 30px; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; padding-top: 200px; padding-left: 75px; padding-right: 50px; } .__pf ._6z3Vh14z[data-id="_6z3Vh14z"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-left: 75px; padding-right: 50px; } .__pf ._MW_eUvED[data-id="_MW_eUvED"] { margin: 0px; border-style: solid; border-width: 0px; } .__pf ._bPMOhYJ1[data-id="_bPMOhYJ1"] { border-style: solid; border-width: 0px 0px 1px; border-color: rgba(242, 242, 242, 0.75); padding-top: 0px; padding-bottom: 0px; margin-bottom: 50px; margin-top: 50px; } .__pf ._6B3Vhg4B[data-id="_6B3Vhg4B"] { font-size: 30px; line-height: 30px; letter-spacing: 0px; color: rgb(0, 61, 63); text-align: left; padding-top: 200px; padding-left: 75px; padding-right: 50px; } .__pf .__yOVhDEz[data-id="__yOVhDEz"] { font-size: 15px; line-height: 24px; letter-spacing: 0px; color: rgb(51, 51, 51); text-align: left; padding-left: 75px; padding-right: 50px; } .__pf ._2YkyUQjm[data-id="_2YkyUQjm"] { margin: 0px; border-style: solid; border-width: 0px; } .__pf ._B149hoZ1[data-id="_B149hoZ1"] { margin-top: 0px; border-style: solid; border-width: 0px 0px 1px; border-color: rgba(242, 242, 242, 0.75); padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px; } .__pf ._KEKDtRY0[data-id="_KEKDtRY0"] { text-align: center; font-size: 40px; color: rgb(0, 61, 71); letter-spacing: -1px; margin-top: 80px; margin-bottom: 50px; } .__pf ._q1ZZhO91[data-id="_q1ZZhO91"] { border-style: solid; border-width: 1px 0px 0px; border-color: rgb(224, 224, 224); } .__pf ._BgnltnEa[data-id="_BgnltnEa"] { padding: 20px; } .__pf ._2ayEtR_1[data-id="_2ayEtR_1"] { padding: 20px; } .__pf ._bgQOtwya[data-id="_bgQOtwya"] { padding: 20px; } .__pf ._Ja0YtnQW[data-id="_Ja0YtnQW"] { padding: 20px; } .__pf ._K1JztAxW[data-id="_K1JztAxW"] { padding: 20px; } .__pf ._barBt8Dg[data-id="_barBt8Dg"] { padding: 20px; } .__pf ._V1_ptjna[data-id="_V1_ptjna"] { padding: 20px; } .__pf .__gRmtBX6[data-id="__gRmtBX6"] { padding: 20px; } .__pf ._Ja0YtxpW[data-id="_Ja0YtxpW"] { padding: 20px; } .__pf ._a7XNIY_7[data-id="_a7XNIY_7"] > div > .accordion__header { background-color: white; color: black; font-weight: 700; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(235, 235, 235); padding: 15px; font-size: 16px; } .__pf ._a7XNIY_7[data-id="_a7XNIY_7"] { background-color: rgb(245, 245, 245); border-style: solid; border-width: 1px; border-color: rgb(235, 235, 235); } .__pf ._gW5yU7dm[data-id="_gW5yU7dm"] { padding-bottom: 50px; } .__pf ._517EtDlg[data-id="_517EtDlg"] { padding: 20px; } .__pf ._5W3MtjQg[data-id="_5W3MtjQg"] { padding: 20px; } .__pf ._E1GJtE4W[data-id="_E1GJtE4W"] { padding: 20px; } .__pf ._G62Jtd21[data-id="_G62Jtd21"] { padding: 20px; } .__pf ._A6qntnwW[data-id="_A6qntnwW"] { padding: 20px; } .__pf ._41dKtwe1[data-id="_41dKtwe1"] { padding: 20px; } .__pf ._9x3PIrwK[data-id="_9x3PIrwK"] > div > .accordion__header { background-color: white; color: black; font-weight: 700; border-style: solid; border-width: 0px 0px 1px; border-color: rgb(235, 235, 235); padding: 15px; font-size: 16px; } .__pf ._9x3PIrwK[data-id="_9x3PIrwK"] { background-color: rgb(245, 245, 245); border-style: solid; border-width: 1px; border-color: rgb(235, 235, 235); } .__pf ._9rExUL_m[data-id="_9rExUL_m"] { padding-bottom: 50px; } .__pf ._DZR1tX0W[data-id="_DZR1tX0W"] { text-align: center; letter-spacing: 3px; color: rgb(0, 61, 71); font-size: 14px; font-weight: 400; } .__pf ._lzqVhKy2[data-id="_lzqVhKy2"] { margin-top: 10px; font-size: 14px; letter-spacing: -1px; color: rgb(87, 87, 86); line-height: 20px; } .__pf ._Jwr6UqwN[data-id="_Jwr6UqwN"] { text-align: center; } .__pf ._ja84hrkY[data-id="_ja84hrkY"] { margin-top: 10px; font-size: 14px; letter-spacing: -1px; color: rgb(87, 87, 86); line-height: 20px; } .__pf ._BweAU3oj[data-id="_BweAU3oj"] { text-align: center; } .__pf ._vBevh6aX[data-id="_vBevh6aX"] { margin-top: 10px; font-size: 14px; letter-spacing: -1px; color: rgb(87, 87, 86); line-height: 20px; } .__pf ._bZ69U_on[data-id="_bZ69U_on"] { text-align: center; } .__pf ._9mExUyYo[data-id="_9mExUyYo"] { margin-bottom: 0px; } .__pf ._RrRohaPy[data-id="_RrRohaPy"] { border-style: solid; border-width: 1px 0px 0px; border-color: rgb(230, 230, 230); margin-top: 100px; } } @media only screen and (max-width: 767px) { .__pf ._ja84hDbk[data-id="_ja84hDbk"] { font-size: 14px; line-height: 1.25; padding-top: 20px; padding-left: 25px; padding-right: 0px; } .__pf ._poVXU6NZ[data-id="_poVXU6NZ"] { margin-left: 0px; padding-left: 50px; height: 75px; width: 300px; } .__pf ._wBbmhGMz[data-id="_wBbmhGMz"] { font-size: 14px; line-height: 1.25; padding-top: 20px; padding-left: 25px; padding-right: 0px; } .__pf ._BweAUlro[data-id="_BweAUlro"] { margin-left: 0px; padding-left: 70px; height: 75px; width: 300px; } .__pf ._lyjZhoKk[data-id="_lyjZhoKk"] { font-size: 14px; line-height: 1.25; padding-top: 20px; padding-left: 25px; padding-right: 0px; } .__pf ._dwKeUbRZ[data-id="_dwKeUbRZ"] { margin-left: 0px; height: 75px; width: 300px; } .__pf ._Jm24Uj9W[data-id="_Jm24Uj9W"] { width: 340px; } .__pf ._y1V3hYJ1[data-id="_y1V3hYJ1"] { margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px; } .__pf ._wzXVhmKy[data-id="_wzXVhmKy"] { font-size: 24px; line-height: 1.25; padding-top: 0px; padding-left: 25px; padding-right: 25px; } .__pf ._8yKKhx5y[data-id="_8yKKhx5y"] { font-size: 14px; line-height: 20px; padding-top: 0px; padding-left: 25px; padding-right: 25px; margin-bottom: 100px; } .__pf ._0obJUp3w[data-id="_0obJUp3w"] { height: 670px; } .__pf ._dZy3UqqZ[data-id="_dZy3UqqZ"] { margin-bottom: 0px; margin-top: 0px; } .__pf ._RB1Vh6Wa[data-id="_RB1Vh6Wa"] { font-size: 24px; line-height: 20px; padding-top: 25px; padding-left: 25px; padding-right: 25px; } .__pf ._Ka2Dhq0B[data-id="_Ka2Dhq0B"] { font-size: 14px; line-height: 20px; padding-top: 0px; padding-left: 25px; padding-right: 25px; margin-bottom: 100px; } .__pf ._0oB2UeQa[data-id="_0oB2UeQa"] { margin-bottom: 0px; margin-top: 0px; height: 300px; } .__pf ._VzwWhxXy[data-id="_VzwWhxXy"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._XBWNhv1z[data-id="_XBWNhv1z"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._Akmgh00a[data-id="_Akmgh00a"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._Zz7qh_dy[data-id="_Zz7qh_dy"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; margin-top: 25px; } .__pf ._4zEDhZ5B[data-id="_4zEDhZ5B"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._OkZxhrqk[data-id="_OkZxhrqk"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._51X5hod1[data-id="_51X5hod1"] { padding-bottom: 0px; } .__pf ._PzLqh54k[data-id="_PzLqh54k"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; margin-top: 25px; } .__pf ._Gy0Zh7Yz[data-id="_Gy0Zh7Yz"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._Rz1Vh9Kk[data-id="_Rz1Vh9Kk"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._LapnhK4B[data-id="_LapnhK4B"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; padding-top: 25px; } .__pf ._Dzn3hW0a[data-id="_Dzn3hW0a"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._3koqh1oB[data-id="_3koqh1oB"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._51JghNRr[data-id="_51JghNRr"] { padding-bottom: 0px; } .__pf ._wybmhjMB[data-id="_wybmhjMB"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; margin-top: 25px; } .__pf ._lkjZhPKa[data-id="_lkjZhPKa"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._vyevh4Dz[data-id="_vyevh4Dz"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._pB_vhdNk[data-id="_pB_vhdNk"] { font-size: 20px; line-height: 20px; padding-left: 25px; padding-right: 25px; padding-top: 25px; } .__pf ._VBwWhJXk[data-id="_VBwWhJXk"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._XyWNh61B[data-id="_XyWNh61B"] { font-size: 14px; line-height: 20px; padding-left: 25px; padding-right: 25px; } .__pf ._bagPhRqy[data-id="_bagPhRqy"] { font-size: 24px; line-height: 20px; padding-top: 50px; padding-left: 25px; padding-right: 25px; } .__pf ._6z3Vh14z[data-id="_6z3Vh14z"] { font-size: 14px; line-height: 20px; padding-top: 0px; padding-left: 25px; padding-right: 25px; margin-bottom: 50px; } .__pf ._Gw9rU90z[data-id="_Gw9rU90z"] { margin-bottom: 0px; margin-top: 0px; } .__pf ._6B3Vhg4B[data-id="_6B3Vhg4B"] { font-size: 24px; line-height: 1.25; padding-top: 0px; padding-left: 25px; padding-right: 25px; } .__pf .__yOVhDEz[data-id="__yOVhDEz"] { font-size: 14px; line-height: 20px; padding-top: 0px; padding-left: 25px; padding-right: 25px; margin-bottom: 100px; } .__pf ._Go9rUY0Z[data-id="_Go9rUY0Z"] { height: 670px; } .__pf ._3Z_WUDPa[data-id="_3Z_WUDPa"] { margin-bottom: 0px; margin-top: 0px; } .__pf ._gW5yU7dm[data-id="_gW5yU7dm"] { padding-bottom: 0px; } .__pf ._9x3PIrwK[data-id="_9x3PIrwK"] { height: 100%; } .__pf ._DZR1tX0W[data-id="_DZR1tX0W"] { font-size: 14px; line-height: 20px; font-weight: 400; } .__pf ._9mExUyYo[data-id="_9mExUyYo"] { margin-bottom: 20px; } .__pf ._RrRohaPy[data-id="_RrRohaPy"] { padding-left: 15px; padding-right: 15px; margin-top: 50px; } } @media only screen and (min-width: 768px) and (max-width: 991px) { .__pf ._ja84hDbk[data-id="_ja84hDbk"] { font-size: 14px; padding-top: 20px; } .__pf ._poVXU6NZ[data-id="_poVXU6NZ"] { margin-left: 0px; width: 200px; } .__pf ._wBbmhGMz[data-id="_wBbmhGMz"] { font-size: 14px; padding-top: 20px; } .__pf ._BweAUlro[data-id="_BweAUlro"] { margin-left: 0px; width: 200px; } .__pf ._lyjZhoKk[data-id="_lyjZhoKk"] { font-size: 14px; padding-top: 10px; } .__pf ._dwKeUbRZ[data-id="_dwKeUbRZ"] { margin-left: 0px; padding-top: 20px; width: 200px; height: 75px; } .__pf ._y1V3hYJ1[data-id="_y1V3hYJ1"] { width: 750px; } .__pf ._wzXVhmKy[data-id="_wzXVhmKy"] { padding-top: 50px; padding-left: 25px; padding-right: 25px; } .__pf ._8yKKhx5y[data-id="_8yKKhx5y"] { padding-left: 25px; padding-right: 25px; } .__pf ._RB1Vh6Wa[data-id="_RB1Vh6Wa"] { padding-left: 25px; padding-right: 25px; padding-top: 50px; } .__pf ._Ka2Dhq0B[data-id="_Ka2Dhq0B"] { padding-left: 25px; padding-right: 25px; } .__pf ._bagPhRqy[data-id="_bagPhRqy"] { padding-top: 100px; padding-left: 25px; padding-right: 25px; } .__pf ._6z3Vh14z[data-id="_6z3Vh14z"] { padding-left: 25px; padding-right: 25px; } .__pf ._6B3Vhg4B[data-id="_6B3Vhg4B"] { padding-top: 50px; padding-left: 25px; padding-right: 25px; } .__pf .__yOVhDEz[data-id="__yOVhDEz"] { padding-left: 25px; padding-right: 25px; } } @media only screen and (min-width: 992px) and (max-width: 1199px) { .__pf ._Jm24Uj9W[data-id="_Jm24Uj9W"] { width: 1000px; } .__pf ._y1V3hYJ1[data-id="_y1V3hYJ1"] { width: 1000px; } } @media only screen and (min-width: 1200px) { } </style><div class="__pf" id="__pf" data-pf-ver="250" data-pf-initial-ver="250"><section data-container="true" class="_DblQBlAM _y1V3hYJ1" data-id="_y1V3hYJ1" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 900px;"><div class="_pDNE0kYl _Jm24Uj9W pb-grid pb-grid--doubling pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_Jm24Uj9W"><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _poVXU6NZ" data-id="_poVXU6NZ"><p class="_7XqAY8_A _ja84hDbk" data-id="_ja84hDbk"><span hidden="" class="_VWvqNvR9 _BV5gh0oV _dropcap _2dknaNM0" data-id="_BV5gh0oV"></span><span class="_VWvqNvR9 _BV5gh0oV _text _ZGwmb_O6" data-id="_BV5gh0oV">Frucht- und Pflanzenextrakte<br></span></p></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _BweAUlro" data-id="_BweAUlro"><p class="_7XqAY8_A _wBbmhGMz" data-id="_wBbmhGMz"><span hidden="" class="_VWvqNvR9 _En6PhAZe _dropcap _2dknaNM0" data-id="_En6PhAZe"></span><span class="_VWvqNvR9 _En6PhAZe _text _ZGwmb_O6" data-id="_En6PhAZe">Ohne Zucker<br></span></p></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _dwKeUbRZ" data-id="_dwKeUbRZ"><p class="_7XqAY8_A _lyjZhoKk" data-id="_lyjZhoKk"><span hidden="" class="_VWvqNvR9 _LNAGhY2V _dropcap _2dknaNM0" data-id="_LNAGhY2V"></span><span class="_VWvqNvR9 _LNAGhY2V _text _ZGwmb_O6" data-id="_LNAGhY2V">Wertvolle Vitamine<br></span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _lPjahkbr" data-id="_lPjahkbr" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _gY5yUVdr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_gY5yUVdr"><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _0obJUp3w" data-id="_0obJUp3w"><picture class="_epNwrNGv _g2mJh_V2 pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_g2mJh_V2" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Glas-Empowerment-3.jpg?1195016520613779279"></picture><p class="_7XqAY8_A _wzXVhmKy" data-id="_wzXVhmKy"><span hidden="" class="_VWvqNvR9 _LnX8hJWV _dropcap _2dknaNM0" data-id="_LnX8hJWV"></span><span class="_VWvqNvR9 _LnX8hJWV _text _ZGwmb_O6" data-id="_LnX8hJWV">Trinkst du auch zu wenig Wasser?<br></span></p><p class="_7XqAY8_A _8yKKhx5y" data-id="_8yKKhx5y"><span hidden="" class="_VWvqNvR9 _0VKah92n _dropcap _2dknaNM0" data-id="_0VKah92n"></span><span class="_VWvqNvR9 _0VKah92n _text _ZGwmb_O6" data-id="_0VKah92n">Es ist unser Lebenselixier. Wir brauchen es wie die Luft zum Atmen und trotzdem fällt es vielen Menschen schwer, mehr davon zu trinken. Unser zuckerfreier Microdrink schmeckt fantastisch, reichert dein Wasser mit Frucht- und Pflanzenextrakten sowie wertvollen Vitaminen an und hilft dir somit, mehr Wasser zu trinken.<br></span></p></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _dZy3UqqZ" data-id="_dZy3UqqZ"><picture class="_epNwrNGv _JKjWhALX pb-mobile--hidden" data-id="_JKjWhALX" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Glas-Empowerment-3.jpg?1195016520613779279" alt="Waterdrop Glas"></picture></div></div></div></div></section><section data-container="true" class="_DblQBlAM _DPbbh5eP" data-id="_DPbbh5eP" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl __Yn4U8nD pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="__Yn4U8nD"><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _Lzq5U61z" data-id="_Lzq5U61z"><picture class="_epNwrNGv _lX0_hbJe pb-large--hidden" data-id="_lX0_hbJe" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Drop-Bottle-2.jpg?5200499844455290024"></picture><picture class="_epNwrNGv _YKDNh3_K pb-desk--hidden pb-tablet--hidden pb-mobile--hidden" data-id="_YKDNh3_K" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Drop-Bottle-2.jpg?5200499844455290024" alt="Waterdrop Bottles"></picture></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _0oB2UeQa" data-id="_0oB2UeQa"><p class="_7XqAY8_A _RB1Vh6Wa" data-id="_RB1Vh6Wa"><span hidden="" class="_VWvqNvR9 _Oq1ghDkV _dropcap _2dknaNM0" data-id="_Oq1ghDkV"></span><span class="_VWvqNvR9 _Oq1ghDkV _text _ZGwmb_O6" data-id="_Oq1ghDkV">Ganz wie du es magst.<br></span></p><p class="_7XqAY8_A _Ka2Dhq0B" data-id="_Ka2Dhq0B"><span hidden="" class="_VWvqNvR9 _Ge2lhrDq _dropcap _2dknaNM0" data-id="_Ge2lhrDq"></span><span class="_VWvqNvR9 _Ge2lhrDq _text _ZGwmb_O6" data-id="_Ge2lhrDq">Wähle deinen Lieblings-waterdrop™ aus und drop ihn je nach gewünschter Intensität in 400-600 ml Wasser. Der Drop löst sich in kurzer Zeit vollständig auf und du kannst den fantastischen Geschmack deiner gewählten Sorte genießen. Egal ob im Büro, beim Sport oder unterwegs.&nbsp;<br></span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _51X5hod1" data-id="_51X5hod1" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _ED7yUoJr pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_ED7yUoJr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _8wJBUdQz" data-id="_8wJBUdQz"><p class="_7XqAY8_A _VzwWhxXy" data-id="_VzwWhxXy"><span hidden="" class="_VWvqNvR9 _9V47hD5e _dropcap _2dknaNM0" data-id="_9V47hD5e"></span><span class="_VWvqNvR9 _9V47hD5e _text _ZGwmb_O6" data-id="_9V47hD5e">GLOW</span></p><p class="_7XqAY8_A _XBWNhv1z" data-id="_XBWNhv1z"><span hidden="" class="_VWvqNvR9 _EVo6hw6e _dropcap _2dknaNM0" data-id="_EVo6hw6e"></span><span class="_VWvqNvR9 _EVo6hw6e _text _ZGwmb_O6" data-id="_EVo6hw6e">Mango / Kaktusfeige / Artischoke</span></p><p class="_7XqAY8_A _Akmgh00a" data-id="_Akmgh00a"><span hidden="" class="_VWvqNvR9 _aVZ5hEEe _dropcap _2dknaNM0" data-id="_aVZ5hEEe"></span><span class="_VWvqNvR9 _aVZ5hEEe _text _ZGwmb_O6" data-id="_aVZ5hEEe">Sommerlicher GLOW mit tropischer Kaktusfeige, Artischocke und fruchtiger Mango. Hol dir dein Strahlen für Tage, die nach Sommer riechen.</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _BzklUg9a" data-id="_BzklUg9a"><p class="_7XqAY8_A _Zz7qh_dy" data-id="_Zz7qh_dy"><span hidden="" class="_VWvqNvR9 _pVDKhoLn _dropcap _2dknaNM0" data-id="_pVDKhoLn"></span><span class="_VWvqNvR9 _pVDKhoLn _text _ZGwmb_O6" data-id="_pVDKhoLn">RELAX</span></p><p class="_7XqAY8_A _4zEDhZ5B" data-id="_4zEDhZ5B"><span hidden="" class="_VWvqNvR9 _wVp8hQON _dropcap _2dknaNM0" data-id="_wVp8hQON"></span><span class="_VWvqNvR9 _wVp8hQON _text _ZGwmb_O6" data-id="_wVp8hQON">Hibiskus / Acerola / Aronia&nbsp; &nbsp;<br></span></p><p class="_7XqAY8_A _OkZxhrqk" data-id="_OkZxhrqk"><span hidden="" class="_VWvqNvR9 _PN77hGYN _dropcap _2dknaNM0" data-id="_PN77hGYN"></span><span class="_VWvqNvR9 _PN77hGYN _text _ZGwmb_O6" data-id="_PN77hGYN">Mit der botanischen Mischung aus Hibiskus, Acerola und Aronia findest du schnell deine innere Mitte. RELAX, für Momente voller Leichtigkeit und Entspannung.&nbsp;</span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _51JghNRr" data-id="_51JghNRr" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _OWx2UaEW pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_OWx2UaEW"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _1zlmUOWa" data-id="_1zlmUOWa"><p class="_7XqAY8_A _PzLqh54k" data-id="_PzLqh54k"><span hidden="" class="_VWvqNvR9 _LnLohBZn _dropcap _2dknaNM0" data-id="_LnLohBZn"></span><span class="_VWvqNvR9 _LnLohBZn _text _ZGwmb_O6" data-id="_LnLohBZn">YOUTH</span></p><p class="_7XqAY8_A _Gy0Zh7Yz" data-id="_Gy0Zh7Yz"><span hidden="" class="_VWvqNvR9 _yV0LhvRe _dropcap _2dknaNM0" data-id="_yV0LhvRe"></span><span class="_VWvqNvR9 _yV0LhvRe _text _ZGwmb_O6" data-id="_yV0LhvRe">Pfirsich / Ingwer / Ginseng&nbsp; &nbsp;<br></span></p><p class="_7XqAY8_A _Rz1Vh9Kk" data-id="_Rz1Vh9Kk"><span hidden="" class="_VWvqNvR9 _On1gh6jq _dropcap _2dknaNM0" data-id="_On1gh6jq"></span><span class="_VWvqNvR9 _On1gh6jq _text _ZGwmb_O6" data-id="_On1gh6jq">Erlebe das Zusammenspiel aus Ginseng- und Löwenzahn, abgerundet durch den feinen Geschmack von Pfirsich und Ingwer. Mit YOUTH einfach drauflos strahlen.</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _yoGgUvAZ" data-id="_yoGgUvAZ"><p class="_7XqAY8_A _LapnhK4B" data-id="_LapnhK4B"><span hidden="" class="_VWvqNvR9 _7eMXhl3N _dropcap _2dknaNM0" data-id="_7eMXhl3N"></span><span class="_VWvqNvR9 _7eMXhl3N _text _ZGwmb_O6" data-id="_7eMXhl3N">FOCUS</span></p><p class="_7XqAY8_A _Dzn3hW0a" data-id="_Dzn3hW0a"><span hidden="" class="_VWvqNvR9 __NkAhGxn _dropcap _2dknaNM0" data-id="__NkAhGxn"></span><span class="_VWvqNvR9 __NkAhGxn _text _ZGwmb_O6" data-id="__NkAhGxn">Limette / Baobab / Acerola<br></span></p><p class="_7XqAY8_A _3koqh1oB" data-id="_3koqh1oB"><span hidden="" class="_VWvqNvR9 _PedKhYLe _dropcap _2dknaNM0" data-id="_PedKhYLe"></span><span class="_VWvqNvR9 _PedKhYLe _text _ZGwmb_O6" data-id="_PedKhYLe">Hol dir die einzigartige Komposition aus Baobab und Acerola – mit erfrischend natürlichem Limetten-Geschmack. FOCUS, wenn's wirklich wichtig ist.&nbsp;</span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _5r0ghJqr" data-id="_5r0ghJqr" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _VmXaUx6r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_VmXaUx6r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _YzWOUp7o" data-id="_YzWOUp7o"><p class="_7XqAY8_A _wybmhjMB" data-id="_wybmhjMB"><span hidden="" class="_VWvqNvR9 _Eq6PhKZn _dropcap _2dknaNM0" data-id="_Eq6PhKZn"></span><span class="_VWvqNvR9 _Eq6PhKZn _text _ZGwmb_O6" data-id="_Eq6PhKZn">DEFENCE</span></p><p class="_7XqAY8_A _lkjZhPKa" data-id="_lkjZhPKa"><span hidden="" class="_VWvqNvR9 _LeAGhr2N _dropcap _2dknaNM0" data-id="_LeAGhr2N"></span><span class="_VWvqNvR9 _LeAGhr2N _text _ZGwmb_O6" data-id="_LeAGhr2N">Cranberry / Hagebutte / Moringa<br></span></p><p class="_7XqAY8_A _vyevh4Dz" data-id="_vyevh4Dz"><span hidden="" class="_VWvqNvR9 _zngDhpMn _dropcap _2dknaNM0" data-id="_zngDhpMn"></span><span class="_VWvqNvR9 _zngDhpMn _text _ZGwmb_O6" data-id="_zngDhpMn">Die einzigartige Kombination von Moringa- und Hagebutten-Extrakt überrascht mit fruchtigem Cranberry-Geschmack. Für einen starken Tag.</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _PonnUD5o" data-id="_PonnUD5o"><p class="_7XqAY8_A _pB_vhdNk" data-id="_pB_vhdNk"><span hidden="" class="_VWvqNvR9 _6eRGh2jn _dropcap _2dknaNM0" data-id="_6eRGh2jn"></span><span class="_VWvqNvR9 _6eRGh2jn _text _ZGwmb_O6" data-id="_6eRGh2jn">BOOST</span></p><p class="_7XqAY8_A _VBwWhJXk" data-id="_VBwWhJXk"><span hidden="" class="_VWvqNvR9 _9N47hA5n _dropcap _2dknaNM0" data-id="_9N47hA5n"></span><span class="_VWvqNvR9 _9N47hA5n _text _ZGwmb_O6" data-id="_9N47hA5n">Schwarze Johannisbeere / Holunderblüte / Açaí&nbsp; &nbsp;<br></span></p><p class="_7XqAY8_A _XyWNh61B" data-id="_XyWNh61B"><span hidden="" class="_VWvqNvR9 _ENo6hy6n _dropcap _2dknaNM0" data-id="_ENo6hy6n"></span><span class="_VWvqNvR9 _ENo6hy6n _text _ZGwmb_O6" data-id="_ENo6hy6n">Wenn du ein bisschen mehr leisten musst: Hol dir die Powerbeere Açaí, gepaart mit dem erlesenen Geschmack von schwarzer Johannisbeere und Holunderblüte.</span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _bPMOhYJ1" data-id="_bPMOhYJ1" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _MW_eUvED pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_MW_eUvED"><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _magLUYkZ" data-id="_magLUYkZ"><picture class="_epNwrNGv _Be67hjb2 pb-large--hidden" data-id="_Be67hjb2" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Social-Grid_92585fd3-7249-4318-aa39-99c6e932dbad.jpg?8466839717751561703"></picture><picture class="_epNwrNGv _NXy1h1x2 pb-desk--hidden pb-tablet--hidden pb-mobile--hidden" data-id="_NXy1h1x2" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Social-Grid_92585fd3-7249-4318-aa39-99c6e932dbad.jpg?8466839717751561703" alt="Waterdrop Erfahrungen"></picture></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _Gw9rU90z" data-id="_Gw9rU90z"><p class="_7XqAY8_A _bagPhRqy" data-id="_bagPhRqy"><span hidden="" class="_VWvqNvR9 _JNJXh2Ae _dropcap _2dknaNM0" data-id="_JNJXh2Ae"></span><span class="_VWvqNvR9 _JNJXh2Ae _text _ZGwmb_O6" data-id="_JNJXh2Ae">Die waterdrop™ Community.<br></span></p><p class="_7XqAY8_A _6z3Vh14z" data-id="_6z3Vh14z"><span hidden="" class="_VWvqNvR9 _Qe97hwaq _dropcap _2dknaNM0" data-id="_Qe97hwaq"></span><span class="_VWvqNvR9 _Qe97hwaq _text _ZGwmb_O6" data-id="_Qe97hwaq">Unsere Community wächst täglich. Wir haben weltweit mehr als 70.000 zufriedene Kunden die waterdrop™ lieben und nun mehr von dem Trinken was gut für sie ist.<br></span></p></div></div></div></div></section><section data-container="true" class="_DblQBlAM _B149hoZ1" data-id="_B149hoZ1" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _2YkyUQjm pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_2YkyUQjm"><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _Go9rUY0Z" data-id="_Go9rUY0Z"><picture class="_epNwrNGv _v58NhvR2 pb-large--hidden pb-desk--hidden pb-tablet--hidden" data-id="_v58NhvR2" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/products/Glow-Boost_800x.jpg?v=1543859340"></picture><p class="_7XqAY8_A _6B3Vhg4B" data-id="_6B3Vhg4B"><span hidden="" class="_VWvqNvR9 _Qn97hpaV _dropcap _2dknaNM0" data-id="_Qn97hpaV"></span><span class="_VWvqNvR9 _Qn97hpaV _text _ZGwmb_O6" data-id="_Qn97hpaV">Sichere dir jetzt deine&nbsp;<br>waterdrop™ Christmas Box Large<br></span></p><p class="_7XqAY8_A __yOVhDEz" data-id="__yOVhDEz"><span hidden="" class="_VWvqNvR9 _zn8QhOXn _dropcap _2dknaNM0" data-id="_zn8QhOXn"></span><span class="_VWvqNvR9 _zn8QhOXn _text _ZGwmb_O6" data-id="_zn8QhOXn">In diesem Set findest du unsere 12-Packs in allen sechs Sorten (FOCUS, BOOST, DEFENCE, RELAX, YOUTH, GLOW), eine unserer wunderschönen waterdrop™ Glas-Trinkflaschen in der Edition deines Lieblings-Empowerments, sowie eine hochwertige Bottle-Brush. Um deine waterdrops sicher und charmant sowie jederzeit und überall dabei zu haben, findest du in der Christmas Box Large außerdem auch eines unserer wunderschönen und handverarbeiteten Carry-Kits aus Holz.&nbsp;<br></span></p></div></div><div class=" grid__column" style="padding: 0px;"><div class="_O689JW7n _3Z_WUDPa" data-id="_3Z_WUDPa"><picture class="_epNwrNGv _N2YvhVme pb-mobile--hidden" data-id="_N2YvhVme" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/products/Glow-Boost_800x.jpg?v=1543859340" alt="Waterdrop Discovery Set"></picture></div></div></div></div></section><section data-container="true" class="_DblQBlAM _q1ZZhO91" data-id="_q1ZZhO91" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 690px;"><div class="_pDNE0kYl _qm87Ua8r pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_qm87Ua8r"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _ewXDUJ5w" data-id="_ewXDUJ5w"><h3 class="_qaQP6rvk _KEKDtRY0" data-id="_KEKDtRY0" ><span class="_VWvqNvR9 _mYk1HO2e _title _3JdPm85O" data-id="_mYk1HO2e">Noch Fragen ?</span></h3></div></div></div></div></section><section data-container="true" class="_DblQBlAM _BP70hykW" data-id="_BP70hykW" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _pY97UVBr pb-grid pb-grid--doubling pb-grid--stackable pb-grid--two-columns pb-grid--equal-height" data-id="_pY97UVBr"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _4oM7UWAz" data-id="_4oM7UWAz"><div class="_pDNE0kYl _gW5yU7dm pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_gW5yU7dm"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _0wbJUR3Z" data-id="_0wbJUR3Z"><div data-multiple="false" class="_lY5epAaJ _a7XNIY_7" data-id="_a7XNIY_7"><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-134" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wieviel Wasser passt in die Flasche?</a><div id="pb-content-134" class="_WDJGyJgk _BgnltnEa" data-id="_BgnltnEa" style="display: none;"><p class="_7XqAY8_A _8BKKh55B" data-id="_8BKKh55B"><span hidden="" class="_VWvqNvR9 _0qKah22e _dropcap _2dknaNM0" data-id="_0qKah22e"></span><span class="_VWvqNvR9 _0qKah22e _text _ZGwmb_O6" data-id="_0qKah22e">600 ml. Perfekt für einen frischen waterdrop™ deiner Wahl.</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-247" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Ist die Flasche für unterwegs geeignet?</a><div id="pb-content-247" class="_WDJGyJgk _2ayEtR_1" data-id="_2ayEtR_1" style="display: none;"><p class="_7XqAY8_A _2aAqh_7B" data-id="_2aAqh_7B"><span hidden="" class="_VWvqNvR9 _GnwmhDLn _dropcap _2dknaNM0" data-id="_GnwmhDLn"></span><span class="_VWvqNvR9 _GnwmhDLn _text _ZGwmb_O6" data-id="_GnwmhDLn">Unsere Trinkflasche aus Glas ist dein perfekter Wegbegleiter im Alltag. Die schützende Thermo-Hülle sorgt nicht nur dafür, dass dein Microdrink die gewünschte Temperatur behält, sondern schützt deine Flasche auch besonders gut vor äußeren Umwelteinflüssen. Der nachhaltige Bambusdeckel hält die Flasche bombendicht.</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-249" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Warum ist am Boden des Sleeves ein Loch?</a><div id="pb-content-249" class="_WDJGyJgk _bgQOtwya" data-id="_bgQOtwya" style="display: none;"><p class="_7XqAY8_A _wa5ghQNa" data-id="_wa5ghQNa"><span hidden="" class="_VWvqNvR9 _6qyXhaze _dropcap _2dknaNM0" data-id="_6qyXhaze"></span><span class="_VWvqNvR9 _6qyXhaze _text _ZGwmb_O6" data-id="_6qyXhaze">Das kleine Loch am Boden ermöglicht es dir, die Flasche noch leichter im schützenden Sleeve zu platzieren – reine Physik also.</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-245" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wie funktioniert waterdrop™?</a><div id="pb-content-245" class="_WDJGyJgk _Ja0YtnQW" data-id="_Ja0YtnQW" style="display: none;"><p class="_7XqAY8_A _qa9Qhw_z" data-id="_qa9Qhw_z"><span hidden="" class="_VWvqNvR9 _oNb8hb1n _dropcap _2dknaNM0" data-id="_oNb8hb1n"></span><span class="_VWvqNvR9 _oNb8hb1n _text _ZGwmb_O6" data-id="_oNb8hb1n">Öffne den jeweiligen waterdrop™ und „drop“ ihn einfach in ein kaltes Glas, Karaffe oder Flasche Wasser. Danach lehnst du dich entspannt ein paar Momente zurück, bis sich der Microdrink vollständig aufgelöst hat. Anschließend kannst du deinen fruchtigen Drink genießen - wann, wo und wie auch immer du willst.&nbsp;</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-136" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Mit wieviel Wasser trinke ich einen waterdrop™?</a><div id="pb-content-136" class="_WDJGyJgk _K1JztAxW" data-id="_K1JztAxW" style="display: none;"><p class="_7XqAY8_A _GkQVh0mk" data-id="_GkQVh0mk"><span hidden="" class="_VWvqNvR9 _8NQ4h6DV _dropcap _2dknaNM0" data-id="_8NQ4h6DV"></span><span class="_VWvqNvR9 _8NQ4h6DV _text _ZGwmb_O6" data-id="_8NQ4h6DV">Du entscheidest über die Wassermenge – ob im Glas oder in der großen Karaffe. Wir empfehlen dir unsere erfrischenden Microdrinks aufgelöst in ca. 400 bis 600 ml Wasser zu genießen. <br>Pure Geschmackssache. Ob still oder prickelnd bleibt ebenfalls dir überlassen. Waterdrop™ ist genauso individuell wie dein Geschmack.<br><br></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-138" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Enthalten waterdrops Zucker?</a><div id="pb-content-138" class="_WDJGyJgk _barBt8Dg" data-id="_barBt8Dg" style="display: none;"><p class="_7XqAY8_A _3kYrh_Dk" data-id="_3kYrh_Dk"><span hidden="" class="_VWvqNvR9 _9NYYhgyN _dropcap _2dknaNM0" data-id="_9NYYhgyN"></span><span class="_VWvqNvR9 _9NYYhgyN _text _ZGwmb_O6" data-id="_9NYYhgyN">Nein, unsere waterdrops sind komplett zuckerfrei. Um die enthaltenen Frucht- und Pflanzenextrakte mit einer angenehmen Süße abzurunden, findest du in jedem waterdrop™ eine kleine Menge an Sucralose. Somit ist waterdrop™ figur- und zahnfreundlich, hat maximal 4 Kcal pro waterdrop™ und ist perfekt für Diabetiker geeignet. </span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-140" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Ist waterdrop™ gesund? </a><div id="pb-content-140" class="_WDJGyJgk _V1_ptjna" data-id="_V1_ptjna" style="display: none;"><p class="_7XqAY8_A _Gy0ZhnOz" data-id="_Gy0ZhnOz"><span hidden="" class="_VWvqNvR9 _yV0LhY4e _dropcap _2dknaNM0" data-id="_yV0LhY4e"></span><span class="_VWvqNvR9 _yV0LhY4e _text _ZGwmb_O6" data-id="_yV0LhY4e">Ausreichend Wasser zu trinken hat zahlreiche gesundheitliche Vorteile und ist essentiell für unser Wohlbefinden. Mit waterdrop™ helfen wir dir, mehr davon zu trinken, indem wir großartigen Geschmack durch natürliche Frucht- und Pflanzenextrakte in dein Wasser bringen. Dabei verzichten wir ganz bewusst auf unnötige fiese chemische Inhaltsstoffe wie künstliche Farb- oder Konservierungsstoffe. Dadurch schaffen es viele unserer Kunden auf ungesunde, zuckerhaltige Getränke in Dosen oder Flaschen verzichten zu können. Zusätzlich enthält jeder waterdrop™ wertvolle Vitamine, die dir helfen deinen Tagesbedarf am jeweiligen Vitamin zu decken.</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-142" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wo werden die waterdrop™ produziert?</a><div id="pb-content-142" class="_WDJGyJgk __gRmtBX6" data-id="__gRmtBX6" style="display: none;"><p class="_7XqAY8_A _Kk2Dh20z" data-id="_Kk2Dh20z"><span hidden="" class="_VWvqNvR9 _GN2lhGDn _dropcap _2dknaNM0" data-id="_GN2lhGDn"></span><span class="_VWvqNvR9 _GN2lhGDn _text _ZGwmb_O6" data-id="_GN2lhGDn">Ja - unsere waterdrops werden unter den höchsten Qualitätsstandards in einem eigens entwickelten Verfahren in Deutschland hergestellt. Die Frucht- und Pflanzenextrakte beziehen wir von regional ausgewählten Partnern mit kontrolliertem, nachhaltigem Anbau.&nbsp;</span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-144" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Wie ist waterdrop™ verpackt?</a><div id="pb-content-144" class="_WDJGyJgk _Ja0YtxpW" data-id="_Ja0YtxpW" style="display: none;"><p class="_7XqAY8_A _qa9QhJez" data-id="_qa9QhJez"><span hidden="" class="_VWvqNvR9 _oNb8h2xn _dropcap _2dknaNM0" data-id="_oNb8h2xn"></span><span class="_VWvqNvR9 _oNb8h2xn _text _ZGwmb_O6" data-id="_oNb8h2xn">In unseren waterdrops befinden sich höchstsensible natürliche Frucht- und Pflanzenextrakte. Um diese optimal vor Luft und Feuchtigkeit zu schützen, werden sie in eine recyclebare PET-Hülle gekleidet, die über 2 Jahre von einem führenden Expertenteam in Deutschland entwickelt wurde. Damit sparst du im Vergleich zu herkömmlichen Getränken 97% an unnötiger Verpackung – nicht zu sprechen von den Unmengen an Transportgewicht, die wegfallen, da alles was du brauchst bereits bei dir ist: frisches Wasser. Zudem kannst du nun deinen Lieblingsdrink ganz einfach in der Hosentasche jederzeit und überall dabeihaben – vom Büro bis zum Reisen, du hast maximale Flexibilität.</span></p></div></div></div></div></div></div></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _lZN_U2ya" data-id="_lZN_U2ya"><div class="_pDNE0kYl _9rExUL_m pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_9rExUL_m"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _MaPnULJa" data-id="_MaPnULJa"><div data-multiple="false" class="_lY5epAaJ _9x3PIrwK" data-id="_9x3PIrwK"><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-155" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - BOOST</a><div id="pb-content-155" class="_WDJGyJgk _517EtDlg" data-id="_517EtDlg" style="display: none;"><p class="_7XqAY8_A _pyNJh63B" data-id="_pyNJh63B"><span hidden="" class="_VWvqNvR9 _9eG9h2dN _dropcap _2dknaNM0" data-id="_9eG9h2dN"></span><span class="_VWvqNvR9 _9eG9h2dN _text _ZGwmb_O6" data-id="_9eG9h2dN"><p>Wenn du ein bisschen mehr leisten musst: Hol dir die aus Brasilien bekannte Powerbeere Açaí, gepaart mit dem erlesenen Geschmack von schwarzer Johannisbeere und Holunderblüte.</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 Kcal /&nbsp;5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 Kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate&nbsp;</strong></td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
<td>0&nbsp;g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,37 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>5,0 mg</td>
<td>6&nbsp;%</td>
<td>20,0 mg</td>
<td>25 %</td>
</tr>
<tr>
<td>Vitamin B6</td>
<td>0,16 mg</td>
<td>11 %</td>
<td>0,63 mg</td>
<td>45 %</td>
</tr>
<tr>
<td>Vitamin B12</td>
<td>0,25 µg</td>
<td>10 %</td>
<td>1 µg</td>
<td>40 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Açaí-Extrakt, natürliches Aroma, Vitamin C, färbendes Konzentrat aus Karotte, Süßungsmittel Sucralose, Vitamin B6, Vitamin B12.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-157" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - DEFENCE</a><div id="pb-content-157" class="_WDJGyJgk _5W3MtjQg" data-id="_5W3MtjQg" style="display: none;"><p class="_7XqAY8_A _VB4Phx8k" data-id="_VB4Phx8k"><span hidden="" class="_VWvqNvR9 _EeEXhZDn _dropcap _2dknaNM0" data-id="_EeEXhZDn"></span><span class="_VWvqNvR9 _EeEXhZDn _text _ZGwmb_O6" data-id="_EeEXhZDn"><p>Thai Chi oder Vitamin C? Am besten beides, um die Abwehrkräfte stark zu halten. Die einzigartige Kombination von herbem Moringa- und Hagebutten-Extrakt überrascht mit fruchtigem Cranberry-Geschmack. DEFENCE, für einen starken Tag.&nbsp;</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,11 g</td>
<td>&nbsp;</td>
<td>0,45 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>6,0 mg</td>
<td>8 %</td>
<td>24 mg</td>
<td>30 %</td>
</tr>
<tr>
<td>Riboflavin</td>
<td>0,07 mg</td>
<td>5 %</td>
<td>0,28 mg</td>
<td>20 %</td>
</tr>
<tr>
<td>Biotin</td>
<td>5,6 µg</td>
<td>11 %</td>
<td>22,5 µg</td>
<td>45 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, natürliches Aroma, Moringa-Extrakt, Hagebutten-Extrakt, färbendes Konzentrat aus Karotte, Vitamin C, Süßungsmittel Sucralose, färbendes Konzentrat aus Saflor, Riboflavin, Biotin<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-159" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - FOCUS</a><div id="pb-content-159" class="_WDJGyJgk _E1GJtE4W" data-id="_E1GJtE4W" style="display: none;"><p class="_7XqAY8_A _jz84hx8a" data-id="_jz84hx8a"><span hidden="" class="_VWvqNvR9 _BN5ghrjN _dropcap _2dknaNM0" data-id="_BN5ghrjN"></span><span class="_VWvqNvR9 _BN5ghrjN _text _ZGwmb_O6" data-id="_BN5ghrjN"><p>Wissen, was zählt - in den starken Momenten: Hol dir die einzigartige Komposition aus Baobab und Acerola – mit erfrischend natürlichem Limetten-Geschmack. FOCUS, wenn's wirklich wichtig ist.&nbsp;</p><aside class="accordion">

<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,34 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>5,0 mg</td>
<td>6 %</td>
<td>20 mg</td>
<td>25 %</td>
</tr>
<tr>
<td>Thiamin</td>
<td>0,11 mg</td>
<td>10 %</td>
<td>0,44 mg</td>
<td>40 %</td>
</tr>
<tr>
<td>Pantothensäure</td>
<td>0,75 mg</td>
<td>13 %</td>
<td>3,0 mg</td>
<td>50 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Extrakt aus Baobab-Fruchtfleisch, natürliches Aroma, Acerola-Extrakt, Vitamin C, Süßungsmittel Sucralose, Pantothensäure, Thiamin, Farbstoff Kupferkomplexe der Chlorophylline<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-161" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - GLOW</a><div id="pb-content-161" class="_WDJGyJgk _G62Jtd21" data-id="_G62Jtd21" style="display: none;"><p class="_7XqAY8_A _lkjZh1wa" data-id="_lkjZh1wa"><span hidden="" class="_VWvqNvR9 _LeAGh8DN _dropcap _2dknaNM0" data-id="_LeAGh8DN"></span><span class="_VWvqNvR9 _LeAGh8DN _text _ZGwmb_O6" data-id="_LeAGh8DN"><p>Das Funkeln fördern? Ganz leicht: lass in eiskaltem Wasser tropische Kaktusfeige auf feinherbe Artischocke treffen. Abgerundet durch das fruchtig natürliche Aroma der Mango, holst du dir dein Strahlen für Tage, die nach Sommer riechen. GLOW – shine a light.</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 4 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 18 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,37 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>6,0 mg</td>
<td>8 %</td>
<td>24 mg</td>
<td>30 %</td>
</tr>
<tr>
<td>Thiamin</td>
<td>0,12 mg</td>
<td>11 %</td>
<td>0,50 mg</td>
<td>45 %</td>
</tr>
<tr>
<td>Vitamin E</td>
<td>0,45 mg</td>
<td>4&nbsp;%</td>
<td>1,8 mg</td>
<td>15 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Artischocken-Extrakt, natürliches Aroma, Kaktusfeigen-Extrakt, Vitamin C, Süßungsmittel Sucralose, Vitamin E, Thiamin<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-163" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - RELAX</a><div id="pb-content-163" class="_WDJGyJgk _A6qntnwW" data-id="_A6qntnwW" style="display: none;"><p class="_7XqAY8_A _gzRrh0Jk" data-id="_gzRrh0Jk"><span hidden="" class="_VWvqNvR9 _dNmmh7oN _dropcap _2dknaNM0" data-id="_dNmmh7oN"></span><span class="_VWvqNvR9 _dNmmh7oN _text _ZGwmb_O6" data-id="_dNmmh7oN"><p>Alles easy! Mit der botanischen Mischung aus Hibiskus und Acerola, verfeinert mit natürlichem Aronia-Geschmack findest du deine innere Mitte. RELAX, für Momente voller Leichtigkeit und Entspannung.&nbsp;</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 4 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 17 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,36 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>8,0 mg</td>
<td>10 %</td>
<td>32 mg</td>
<td>40 %</td>
</tr>
<tr>
<td>Thiamin</td>
<td>0,08 mg</td>
<td>5 %</td>
<td>0,33 mg</td>
<td>30 %</td>
</tr>
<tr>
<td>Biotin</td>
<td>4,4 µg</td>
<td>11 %</td>
<td>17,5 µg</td>
<td>35 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, Hibiskusblüten-Extrakt, natürliches Aroma, Vitamin C, Acerola-Extrakt, Süßungsmittel Sucralose, färbendes Konzentrat aus Karotte, Thiamin, Biotin<br>.</aside></span></p></div></div><div class="_lY5epAaJ accordion__item _lY5epAaJ__item" data-active="false"><a class="accordion__header _lY5epAaJ__button arrow--right" href="#pb-content-165" data-action="accordion" data-flag="false" data-preopen="false"><i class="accordion__arrow fa fa-caret-right"></i>Inhaltsstoffe - YOUTH</a><div id="pb-content-165" class="_WDJGyJgk _41dKtwe1" data-id="_41dKtwe1" style="display: none;"><p class="_7XqAY8_A _VBwWhX6k" data-id="_VBwWhX6k"><span hidden="" class="_VWvqNvR9 _9N47h5yn _dropcap _2dknaNM0" data-id="_9N47h5yn"></span><span class="_VWvqNvR9 _9N47h5yn _text _ZGwmb_O6" data-id="_9N47h5yn"><p>Die Haut ist der Spiegel der Seele. Erlebe das fabelhafte Zusammenspiel aus Ginseng- und Löwenzahn-Extrakt, abgerundet durch den feinen Geschmack von Pfirsich und Ingwer. Mit YOUTH einfach drauflos strahlen.</p><aside class="accordion">
<table>
<thead>
<tr>
<th><strong>Durchschnittliche Nährwerte des fertigen Getränkes</strong></th>
<th>pro 100 ml</th>
<th>&nbsp;</th>
<th>pro 400 ml (1 drop)</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Energie</strong></td>
<td>&nbsp;1 kcal / 5 KJ</td>
<td>&nbsp;</td>
<td>&nbsp;4 kcal / 19 KJ</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Fett</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon gesättigte Fettsäuren</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Kohlenhydrate</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>davon Zucker</td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Ballaststoffe</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Eiweiß</strong></td>
<td>0 g</td>
<td>&nbsp;</td>
<td>0 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Salz</strong></td>
<td>0,09 g</td>
<td>&nbsp;</td>
<td>0,35 g</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>Vitamine und Mineralstoffe:</strong></td>
<td>&nbsp;</td>
<td>NRV*</td>
<td>&nbsp;</td>
<td>NRV*</td>
</tr>
<tr>
<td>Vitamin C</td>
<td>7,0 mg</td>
<td>9 %</td>
<td>28 mg</td>
<td>35 %</td>
</tr>
<tr>
<td>Niacin</td>
<td>1,8 mg</td>
<td>11 %</td>
<td>7,2 mg</td>
<td>45 %</td>
</tr>
<tr>
<td>Biotin</td>
<td>4,4 µg</td>
<td>9&nbsp;%</td>
<td>17,5 µg</td>
<td>35 %</td>
</tr>
</tbody>
</table>
*Prozentanteil der Nährstoffbezugswerte <br><br>Säuerungsmittel Citronensäure, Säureregulator Natriumhydrogencarbonat, Säureregulator Kaliumcarbonat, natürliches Aroma, Ginseng-Extrakt, Löwenzahn-Extrakt, Vitamin C, Süßungsmittel Sucralose, färbendes Konzentrat aus Karotte, Niacin, färbendes Konzentrat aus Saflor, Biotin<br>.</aside></span></p></div></div></div></div></div></div></div></div></div></div></section><section data-container="true" class="_DblQBlAM _RrRohaPy pb-tablet--hidden" data-id="_RrRohaPy" style="min-height: auto;"><div class="_DblQBlAM__filter" style="background-color: rgba(0, 0, 0, 0);"></div><div class="_DblQBlAM__container" style="max-width: 1170px;"><div class="_pDNE0kYl _aWJdUZD7 pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_aWJdUZD7"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _0aR_UjZM" data-id="_0aR_UjZM"><h3 class="_qaQP6rvk _DZR1tX0W" data-id="_DZR1tX0W" ><span class="_VWvqNvR9 _8r13HEXG _title _3JdPm85O" data-id="_8r13HEXG">LIEBE IST, IMMER EIN KLEINES BISSCHEN MEHR ZU TUN</span></h3></div></div></div><div class="_pDNE0kYl _9mExUyYo pb-grid pb-grid--stackable pb-grid--automatic pb-grid--equal-height" data-id="_9mExUyYo"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _MoPnUdo9" data-id="_MoPnUdo9"><div class="_pDNE0kYl _xYb6U1Wo pb-grid pb-grid--doubling pb-grid--stackable pb-grid--three-columns pb-grid--equal-height" data-id="_xYb6U1Wo"><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _Jwr6UqwN" data-id="_Jwr6UqwN"><picture class="_epNwrNGv _p5abhkev" data-id="_p5abhkev" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/noun_Shipping_1672175.png?18261245403401507441"></picture><p class="_7XqAY8_A _lzqVhKy2" data-id="_lzqVhKy2"><span hidden="" class="_VWvqNvR9 _lV3Ph7Ny _dropcap _2dknaNM0" data-id="_lV3Ph7Ny"></span><span class="_VWvqNvR9 _lV3Ph7Ny _text _ZGwmb_O6" data-id="_lV3Ph7Ny">Schnelle Lieferung<br></span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _BweAU3oj" data-id="_BweAU3oj"><picture class="_epNwrNGv _bXvwhM5B" data-id="_bXvwhM5B" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/Path_124.png?18261245403401507441"></picture><p class="_7XqAY8_A _ja84hrkY" data-id="_ja84hrkY"><span hidden="" class="_VWvqNvR9 _BV5ghkVE _dropcap _2dknaNM0" data-id="_BV5ghkVE"></span><span class="_VWvqNvR9 _BV5ghkVE _text _ZGwmb_O6" data-id="_BV5ghkVE">100% sicherer Checkout<br>Alle gängigen Zahlungsarten</span></p></div></div><div class=" grid__column" style="padding: 15px;"><div class="_O689JW7n _bZ69U_on" data-id="_bZ69U_on"><picture class="_epNwrNGv _dKr9h4eA" data-id="_dKr9h4eA" ><img src="https://cdn.shopify.com/s/files/1/0004/7310/4447/files/noun_clock_1781319.png?18261245403401507441"></picture><p class="_7XqAY8_A _vBevh6aX" data-id="_vBevh6aX"><span hidden="" class="_VWvqNvR9 _zegDhZel _dropcap _2dknaNM0" data-id="_zegDhZel"></span><span class="_VWvqNvR9 _zegDhZel _text _ZGwmb_O6" data-id="_zegDhZel">Rund um die Uhr<br>Kundenbetreuung</span></p></div></div></div></div></div></div></div></section></div><script type="text/javascript">
			window.__pagefly_options__=window.__pagefly_options__||[],window.__pagefly_options__.push({"isBackend":false,"isPreview":false,"key":"helper","css":[{"key":"fontawesome","url":"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css","elements":["Icon","Tabs","Slider","Accordion","Shopify.AddToCart","MailChimp","Form","Heading","Button","Shopify.SearchForm","Slider2"]}],"js":[],"isBetaUser":false,"isAffiliate":false,"shopify_id":473104447,"plan":"premium","shop_domain":"waterdrop-official.myshopify.com","page_id":"182133"});(function(a){var d=a.createElement("script");d.src="https://cdn.pagefly.io/assets/pagefly/assets/1.3.13/helper.js",d.async=!0,a.head.appendChild(d)})(document);

</script>